@font-face {
  font-family: 'NotoSans';
  src: url("../assets/font/NotoSansCJKkr-Regular.otf");
}

@font-face {
  font-family: 'NotoSansBold';
  src: url("../assets/font/NotoSansCJKkr-Bold.otf");
}

body {
  font-family: 'NotoSans';
  min-width: 1280px;
}

.wrap {
  text-align: center;
}

.header {
  height: 70px;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header-txt {
  width: 1280px;
  font-size: 36px;
  margin: 0 auto;
  padding-top: 62px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
}

.header-txt-inner {
  position: relative;
}

.header-txt-color {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: -5px;
  color: #952576;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.header.dark {
  background-color: rgba(0, 0, 0, 0.4);
}

.header.white {
  background-color: #fff;
}

.progressbar {
  position: fixed;
  background-color: black;
  height: 2px;
  bottom: -2px;
  left: 0;
}

.header.up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  z-index: 3000;
}

.header.down {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .7s ease;
  transition: -webkit-transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .7s ease;
  z-index: 3000;
}

.logo {
  padding-top: 24px;
  text-indent: -9999px;
  width: 195px;
  position: absolute;
}

.logo-link {
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  height: 23px;
  background: url("../img/logo_c.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-link.bl {
  background-image: url("../img/logo_bl.png");
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header nav {
  margin-left: 123px;
}

.menu_list {
  font-size: 0;
  text-align: center;
}

.header .menu_list .item {
  display: inline-block;
}

.header .menu_list .menu_link {
  display: block;
  height: 70px;
  padding: 21px 22px;
  color: white;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -.25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .menu_list .item_wrap {
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid transparent;
}

.header .menu_list .item_wrap:hover {
  color: #952576;
}

.language-btnWrap {
  position: absolute;
  top: 50%;
  right: 130px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-area {
  background-image: url(../img/header_img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 860px;
  position: relative;
  width: 100%;
}

.home-area-wrap {
  left: 34%;
  top: 58%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.home-area-sub {
  font-size: 18px;
  color: white;
  margin-top: 20px;
}

.home-area-community-wrap {
  margin-top: 64px;
  height: 32px;
}

.home-area-community-wrap ul li {
  float: left;
}

.home-area-community-wrap ul li:not(:first-child) {
  margin-left: 28px;
}

.whitePaperBtn {
  background: #7771FF;
  color: white;
  border-radius: 12px;
  padding: 20px 29px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.whitePaperBtn:focus {
  outline: none;
}

.value-area {
  background-color: #F7F7FF;
  text-align: center;
  position: relative;
  height: 677px;
}

.value-area-wrap {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.value-area-wrap-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.value-area-wrap-grid div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.value-area-grid-title {
  padding-left: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #7863DA;
}

.value-area-grid-txt-wrap {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.value-area-grid-exp {
  margin-top: 46px;
  line-height: 1.6;
}

.value-card-title {
  font-size: 17px;
  color: #8685E0;
}

.value-card-img {
  margin-top: 20px;
  width: 240px;
}

.value-card-txt {
  margin-top: 34px;
}

.value-area-card-list {
  text-align: left;
  width: 151px;
  margin: 0 auto;
}

.value-txt-list {
  list-style: square url("../img/ico-circle.png") inside;
  color: white;
}

.value-txt-list li {
  font-size: 14px;
  text-indent: -16px;
  line-height: 2;
}

.business-area {
  background-image: url(../img/business-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.business-sub {
  margin-top: 22px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 1.8;
}

.app-area {
  background-image: url(../img/app-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.app-sub {
  margin-top: 20px;
  color: white;
  line-height: 1.8;
  font-size: 16px;
}

.app-grid-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app-grid-txt-wrap {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 500px;
}

.app-grid-txt-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app-right-sub-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  position: relative;
  height: 100px;
  text-align: left;
}

.app-grid-txt-title {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 24px;
}

.app-grid-txt-exp {
  color: white;
  text-align: left;
  margin-left: 24px;
}

.app-txt-number {
  vertical-align: -10px;
}

.imgBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.imgBtn:focus {
  outline: none;
}

.archi-area {
  background-image: url(../img/archi-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.archi-total-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 84px auto 0 auto;
  width: 1280px;
  height: 600px;
  line-height: 1.4;
}

.archi-total-wrap div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.archi-box-right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding-bottom: 30px;
}

.archi-layer-wrap {
  padding: 20px;
}

.archi-layer-title {
  font-weight: bold;
  font-size: 18px;
}

.archi-bottom-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.token-area {
  background-image: url(../img/token-area-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.token-sub {
  margin-top: 20px;
  color: white;
  line-height: 1.8;
  font-size: 16px;
  text-align: center;
}

.token-top-wrap {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 240px;
}

.asdf {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.token-table-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.token-left-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding-top: 10px;
}

.token-right-wrap {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: left;
  padding-left: 100px;
}

.token-right-title {
  font-style: 18px;
}

.token-right-txt {
  line-height: 1.8;
  color: white;
  margin-top: 20px;
}

.token-img {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 0;
}

.token-exp {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.road-area {
  padding: 150px 0;
  position: relative;
}

.harf-circle {
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fff;
  border-radius: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -90px;
}

.team-area {
  background-image: url(../img/team-area-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.team-card-wrap {
  width: 249px;
  margin: 0 auto;
}

.team-img {
  width: 229px;
}

.team-txt-wrap {
  margin-top: 16px;
  text-align: left;
  padding-left: 20px;
}

.team-name {
  font-size: 16px;
  font-weight: bold;
  color: white;
  line-height: 1.8;
}

.team-history {
  padding-left: 16px;
  margin-top: 10px;
}

.teams-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partners-area {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.partenrs-title {
  font-size: 25px;
  font-weight: bold;
}

.partners__one__wrap {
  -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 22px 56px;
}

.ks_net_logo {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ks_nst_expl {
  margin-left: 120px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ks_nst_expl.en {
  margin-left: 50px;
}

.ks_nst_expl p {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-indent: -17px;
}

.partners-li {
  width: 23%;
  -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
  text-align: center;
  float: left;
  height: 160px;
  position: relative;
}

.partners-li:not(:first-child) {
  margin-left: 34px;
}

.partners-logo {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.partners-logo-txt {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 30px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
}

footer {
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 450px;
  position: relative;
  color: white;
}

.footer-btn {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
}

.footer-community li {
  float: left;
}

.footer-community li:not(:first-child) {
  margin-left: 20px;
}

.footer-community li img {
  cursor: pointer;
  width: 100%;
}

.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.area-title {
  font-weight: bold;
  font-size: 30px;
}

.can-toggle {
  position: relative;
}

.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}

.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}

.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.can-toggle label .can-toggle__label-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 32px;
}

.can-toggle label .can-toggle__switch {
  position: relative;
}

.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}

.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: #7863DA;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(255, 255, 255, 0.5);
}

.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #fff;
}

.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #e6e6e6;
}

.can-toggle input[type="checkbox"]:hover ~ label {
  color: #f2f2f2;
}

.can-toggle input[type="checkbox"]:checked ~ label:hover {
  color: #f7f7f7;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: white;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #f2f2f2;
}

.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #fff;
}

.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #e6e6e6;
}

.can-toggle label .can-toggle__label-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.can-toggle label .can-toggle__switch {
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: white;
}

.can-toggle label .can-toggle__switch:before {
  color: #28194B;
}

.can-toggle label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #fff;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(63px, 0, 0);
          transform: translate3d(63px, 0, 0);
}

.can-toggle label {
  font-size: 14px;
}

.can-toggle label .can-toggle__switch {
  height: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 130px;
          flex: 0 0 130px;
  border-radius: 6px;
}

.can-toggle label .can-toggle__switch:before {
  left: 65px;
  font-size: 12px;
  line-height: 32px;
  width: 65px;
  padding: 0 12px;
}

.can-toggle label .can-toggle__switch:after {
  top: 0;
  left: -2px;
  border-radius: 6px;
  width: 70px;
  line-height: 32px;
  font-size: 12px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle label .can-toggle__switch:hover:after {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(44px, 0, 0);
          transform: translate3d(44px, 0, 0);
}

.can-toggle.can-toggle--size-small label {
  font-size: 13px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch {
  height: 28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  border-radius: 2px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch:before {
  left: 45px;
  font-size: 10px;
  line-height: 28px;
  width: 45px;
  padding: 0 12px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch:after {
  top: 0;
  left: -2px;
  border-radius: 6px;
  width: 70px;
  line-height: 32px;
  font-size: 10px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(78px, 0, 0);
          transform: translate3d(78px, 0, 0);
}

.can-toggle.can-toggle--size-large label {
  font-size: 14px;
}

.can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  border-radius: 4px;
}

.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  left: 80px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
}

.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  top: 0;
  left: -2px;
  border-radius: 6px;
  width: 70px;
  line-height: 32px;
  font-size: 14px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #b53e74;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #8f315c;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label {
  color: #a23768;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
  color: #39916a;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #44ae7f;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #368a65;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #3d9c72;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #2f7757;
}

.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background: #c14b81;
}

.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}

.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #b53e74;
}
