@charset "UTF-8";
@font-face {
  font-family: GamrketBold;
  src: url("../assets/font/GmarketSansBold.woff2") format("woff2"), url("../assets/font/GmarketSansBold.woff") format("woff");
}

@font-face {
  font-family: GamrketMedium;
  src: url("../assets/font/GmarketSansMedium.woff2") format("woff2"), url("../assets/font/GmarketSansMedium.woff") format("woff");
}

@font-face {
  font-family: NotoSansRegular;
  src: url("../assets/font/NotoSansKR-Regular.woff2") format("woff2"), url("../assets/font/NotoSansKR-Regular.woff") format("woff");
}

@font-face {
  font-family: NotoSansMedium;
  src: url("../assets/font/NotoSansKR-Medium.woff2") format("woff2"), url("../assets/font/NotoSansKR-Medium.woff") format("woff");
}

@font-face {
  font-family: NotoSansBold;
  src: url("../assets/font/NotoSansKR-Bold.woff2") format("woff2"), url("../assets/font/NotoSansKR-Bold.woff") format("woff");
}

html, body {
  width: 100%;
  height: 100%;
}

.noto-regular {
  font-family: NotoSansRegular;
}

.noto-medium {
  font-family: NotoSansMedium;
}

.noto-bold {
  font-family: NotoSansBold;
}

.gmarket-bold {
  font-family: GamrketBold;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.banner-bg {
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-text-wrap {
  margin-top: 110px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-title {
  font-size: 50px;
  color: #FFFFFF;
  font-family: GamrketBold;
}

.banner-sub-title {
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 12px;
  font-family: NotoSansMedium;
  line-height: 29px;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.contents-init-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contents-total-wrap {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contents-size {
  width: 100%;
  max-width: 1300px;
}

.contents-title-size {
  width: 290px;
}

.contents-article-size {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contents-title {
  color: #212121;
  font-size: 28px;
  font-family: GamrketBold;
  line-height: 36px;
}

.contents-title.mobile {
  display: none;
}

.contents-img.mobile {
  display: none;
}

.contents-title.sub {
  color: #212121;
  font-size: 24px;
  font-family: NotoSansBold;
  margin-top: 6px;
  line-height: 28px;
}

.contents-text {
  font-family: NotoSansMedium;
  color: #212121;
}

#footers {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: GamrketMedium;
  color: #FFFFFF;
  line-height: 100px;
  position: absolute;
  z-index: 2;
  position: fixed;
}

.header-web {
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mobile {
  display: none;
}

.header-wrap.bl {
  color: #212121;
  border-bottom: 1px solid #DBDBDB;
  background-color: #FFFFFF;
}

.main-page-header .header-wrap {
  color: #212121;
  border-bottom: 1px solid #DBDBDB;
  background-color: #FFFFFF;
}

.header-wrap.bl a.category-text:visited {
  color: #212121;
}

.main-page-header .header-wrap a.category-text:visited {
  color: #212121;
}

.bl .header_logo {
  background-image: url(../assets/img/mv_logo_bl.png);
}

.main-page-header .header_logo {
  background-image: url(../assets/img/mv_logo_bl.png);
}

.main-page-header .menu_logo {
  background-image: url(../assets/img/hamberger_bl.png);
}

.header_logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../assets/img/mv_logo.png);
  background-repeat: no-repeat;
  width: 236px;
  height: 24px;
}

.header-wrap .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrap .nav .category {
  text-align: center;
  position: relative;
}

.category:not(:first-child) {
  margin-left: 50px;
}

.category .sub-menu {
  margin: 40px 14px;
  line-height: 21px;
  text-align: left;
}

.category a {
  font-size: 18px;
}

.category a.active {
  color: rebeccapurple;
}

.active-border {
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #FFFFFF;
  bottom: -2px;
  display: none;
}

.bl .active-border {
  background-color: #212121;
}

.category:hover > .sub-menu-wrap {
  display: block;
}

.half-circle {
  width: 30px;
  height: 15px;
  position: absolute;
  top: -16px;
  left: 50px;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  border: 1px solid #DBDBDB;
  border-bottom: 0;
  background-color: #FFFFFF;
}

.sub-menu-wrap {
  position: absolute;
  width: 128px;
  border: 1px solid #DBDBDB;
  display: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFFFFF;
}

.sub-menu a {
  font-size: 16px;
  color: #9E9E9E;
}

.sub-menu a:hover {
  color: #212121;
}

.category .sub-menu li:not(:first-child) {
  margin-top: 18px;
}

.lang_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  font-size: 14px;
}

.lang_nav li:not(:first-child) {
  margin-left: 12px;
}

.footer-wrap {
  background-color: #3C007C;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 14px;
}

.foorter-web {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-mobile {
  display: none;
  width: 100%;
  padding: 20px 20px 40px 20px;
}

.footer-wrap a {
  font-size: 16px;
  text-decoration: none;
}

.footer-wrap a:visited {
  color: #FFFFFF;
}

.footer-wrap .icon {
  width: 30px;
  height: 30px;
}

/*
*
메인화면 css
*
*/
.welcome-page {
  position: relative;
  height: 1030px;
  overflow: hidden;
}

.welcome-page-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -656px;
  margin-top: -227px;
}

.welcome-text-sub {
  font-family: GamrketMedium;
  font-size: 30px;
  line-height: 35px;
  color: #212121;
}

.welcome-text-main {
  font-family: GamrketBold;
  font-size: 64px;
  line-height: 73px;
  color: #212121;
  margin-top: 26px;
}

.welcome-img {
  max-width: 1220px;
  z-index: -1;
  position: absolute;
  right: 50%;
  top: 50%;
  margin-top: -202px;
  margin-right: -1232px;
}

/*
*
마일벌스 css
*
*/
.mileverse .contents-text {
  margin-top: 8px;
  font-size: 20px;
  line-height: 29px;
}

.mileverse .greeting-title {
  font-size: 24px;
  color: #212121;
}

.mileverse .greeting-text {
  color: #212121;
  margin-top: 6px;
  font-size: 20px;
  line-height: 29px;
  font-family: NotoSansMedium;
}

.mileverse .sign-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 56px;
}

.mileverse .sign-text {
  font-size: 20px;
  font-family: NotoSansMedium;
  color: #212121;
}

.mileverse .history-start-img {
  margin-top: 214px;
  width: 100%;
  max-width: 1300px;
}

.mileverse .history-init-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mileverse .history-init-wrap.mobile {
  display: none;
}

.mileverse .history-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mileverse .history-years {
  width: 394px;
  border-right: 1px dotted #9E9E9E;
  padding-right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 82px;
}

.mileverse .history-years.fake {
  height: 160px;
  padding-bottom: 0;
}

.mileverse .history-years.title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mileverse .history-years.last {
  padding-bottom: 0;
}

.history-years-text, .history-title-text {
  color: #212121;
  font-size: 28px;
  line-height: 32px;
  font-family: GamrketBold;
}

.mileverse .history-horizontal {
  margin-left: -10px;
  height: 20px;
}

.mileverse .history-expl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 82px;
}

.mileverse .history-expl.last {
  padding-bottom: 0;
}

.mileverse .history-expl-text {
  font-size: 20px;
  line-height: 40px;
  margin-left: 10px;
  font-family: NotoSansMedium;
  color: #212121;
  margin-top: -10px;
}

.mileverse .roadmap-wrap {
  margin-top: 150px;
  height: 376px;
}

.mileverse .founder-name {
  font-size: 18px;
  line-height: 26px;
  font-family: NotoSansMedium;
  color: #212121;
}

.mileverse .founder-history {
  font-size: 17px;
  line-height: 25px;
  font-family: NotoSansMedium;
  margin-top: 14px;
}

.mileverse .thumb-img-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  margin-left: 110px;
}

.mileverse .vision-wrap {
  margin-top: 220px;
  margin-bottom: 180px;
}

.mileverse .vision-imge {
  margin-top: 68px;
  width: 100%;
  max-width: 1022px;
}

.mileverse .vision-text {
  font-size: 24px;
  color: #212121;
  line-height: 35px;
}

.mileverse .contents-article-size.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mileverse .contents-article-size.director {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.mileverse .contents-article-size.vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mileverse .director-box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.16);
  padding: 30px 103px;
  width: 100%;
  max-width: 587px;
}

.mileverse .director-box-wrap:not(:first-child) {
  margin-top: 78px;
}

/*
*
비지니스 css
*
*/
.business .contents-init-wrap:not(:first-child) {
  padding-top: 100px;
}

.business .contents-init-wrap:not(:last-child) {
  padding-bottom: 120px;
  border-bottom: 1px solid #EFEFEF;
}

.business .contents-init-wrap:last-child {
  margin-bottom: 120px;
}

.business .contents-header {
  font-family: NotoSansBold;
  color: #212121;
  font-size: 24px;
}

.business .contents-text {
  font-size: 20px;
  font-family: NotoSansMedium;
  line-height: 29px;
  margin-top: 7px;
}

.business .contents-img {
  margin-top: 70px;
  width: 100%;
}

.business .video {
  width: 100%;
  max-width: 1046px;
}

/*
*
앱테크 css
*
*/
.apptech .contents-init-wrap:not(:first-child) {
  padding-top: 100px;
}

.apptech .contents-init-wrap:not(:last-child) {
  padding-bottom: 120px;
  border-bottom: 1px solid #EFEFEF;
}

.apptech .contents-init-wrap:last-child {
  margin-bottom: 88px;
}

.apptech .contents-text {
  font-size: 20px;
  line-height: 29px;
}

.apptech .app-img {
  margin-top: 120px;
}

.apptech .btn-wrap {
  text-align: right;
  margin-top: 38px;
}

.apptech .img-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.apptech .comming-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 70px;
  text-align: center;
}

.apptech .comming-version {
  color: #212121;
  font-size: 80px;
  font-family: NotoSansMedium;
  line-height: 116px;
}

.apptech .comming-text {
  color: #757575;
  font-size: 110px;
  font-family: NotoSansMedium;
  line-height: 160px;
}

.tech .contents-init-wrap:not(:first-child) {
  padding-top: 100px;
}

.tech .contents-init-wrap:not(:last-child) {
  padding-bottom: 120px;
  border-bottom: 1px solid #EFEFEF;
}

.tech .contents-init-wrap:last-child {
  margin-bottom: 120px;
}

.tech .article-wrap {
  margin-top: 70px;
}

.tech .article-wrap .eco-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tech .article-wrap .eco-wrap .eco-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.token-table-wrap {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech .article-wrap .eco-wrap .eco-item .token-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-text-wrap {
  margin-left: 24px;
  font-size: 15px;
}

.tech .article-wrap .eco-wrap .eco-item .token-wrap .token {
  width: 100%;
  max-width: 100px;
}

.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-header {
  color: #212121;
  font-size: 18px;
  font-family: NotoSansBold;
  line-height: 30px;
}

.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-expl {
  color: #212121;
  font-size: 18px;
  font-family: NotoSansRegular;
  line-height: 30px;
}

.tech .contents-text {
  font-size: 20px;
  line-height: 29px;
}

.tech .corp-card-wrap {
  margin-top: 40px;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech .franch-card-wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.tech .franch-card {
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  color: #212121;
  font-size: 20px;
  font-family: NotoSansRegular;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  max-width: 834px;
}

.tech .corp-card {
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  color: #212121;
  font-size: 20px;
  font-family: NotoSansRegular;
  padding: 10px 0;
  text-align: center;
  width: 414px;
}

.tech .token-dist-wrap.web {
  display: block;
}

.tech .contents-init-wrap.mobile-token-dis-wrap {
  display: none;
}

.tech .token-dist-wrap {
  background-color: #F9F9F9;
  padding: 100px 15.8% 120px;
}

.tech .token-dist-wrap p {
  font-size: 28px;
  color: "#212121";
  font-family: GamrketBold;
}

.tech .token-dist-img-wrap {
  text-align: right;
}

.tech .token-dist-wrap img {
  margin-top: 58px;
}

/*
*
미디어 css
*
*/
.media .refer-total-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media .refer-total-wrap img {
  width: 100%;
  max-width: 306px;
}

.media .news-total-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px 16px;
  margin-left: 73px;
}

.media .refer-header {
  margin-top: 34px;
  font-size: 20px;
  color: #212121;
  font-family: NotoSansBold;
}

.media .refer-expl {
  margin-top: 10px;
  font-size: 18px;
  color: #212121;
  font-family: NotoSansMedium;
  line-height: 26px;
  width: 300px;
}

.media .contents-init-wrap:not(:first-child) {
  padding-top: 100px;
}

.media .contents-init-wrap:not(:last-child) {
  padding-bottom: 120px;
  border-bottom: 1px solid #EFEFEF;
}

.media .contents-init-wrap:last-child {
  margin-bottom: 120px;
}

.media .news-wrap {
  width: 264px;
  height: 218px;
  padding: 40px 30px;
  border: 1px solid #DBDBDB;
}

.media .news-header {
  font-size: 20px;
  line-height: 32px;
  font-family: NotoSansBold;
}

.media .news-date {
  margin-top: 20px;
  color: #616161;
  font-size: 16px;
  font-family: NotoSansRegular;
}

.media .news-dash {
  height: 2px;
  width: 56px;
  background-color: rgba(60, 0, 124, 0.4);
  margin-top: 16px;
}

.media .news-contents {
  margin-top: 26px;
  font-size: 16px;
  color: #212121;
  line-height: 26px;
  font-family: NotoSansRegular;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
*
미디어 css
*
*/
.partner .contents-init-wrap:not(:first-child) {
  margin-top: 130px;
}

.partner .contents-init-wrap:last-child {
  margin-bottom: 162px;
}

.partner .partener-total-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}

.partner .parnter-wrap {
  border: 1px solid #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 244px;
  height: 166px;
}

.partner .logo {
  width: 76%;
}

.parnter .logo-small {
  width: 44%;
}

.contact .contents-init-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .common-input {
  width: 100%;
  padding: 10px 16px;
  font-family: NotoSansMedium;
  font-size: 20px;
  border: 1px solid #DBDBDB;
}

.contact .common-input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact .common-input-wrap.name-mail {
  gap: 20px;
}

.contact .common-input-wrap:last-child {
  margin-top: 0 !important;
  padding-top: 50px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .common-input-wrap:not(:first-child) {
  margin-top: 20px;
}

.contact .common-input:active, :focus-visible {
  outline: none;
}

.contact .fileTxtWrap {
  border: 1px solid #DBDBDB;
  font-family: NotoSansMedium;
  font-size: 20px;
  color: #9E9E9E;
  width: 640px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

.contact #fileBtn {
  background-color: #DBDBDB;
  width: 114px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #757575;
  font-size: 20px;
  font-family: NotoSansMedium;
  margin-left: 20px;
  border: 1px solid #DBDBDB;
}

.contact #send {
  height: 60px;
  width: 420px;
  background-color: #3C007C;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-family: NotoSansMedium;
}

.privacy .contents-total-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privacy .contents-init-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.privacy .privacy-header {
  color: #212121;
  font-size: 28px;
  line-height: 37px;
  font-family: GamrketBold;
}

.privacy .privacy-sub-header {
  font-size: 24px;
  color: #212121;
  line-height: 35px;
  font-family: NotoSansBold;
}

.privacy .privacy-expl {
  font-size: 20px;
  color: #212121;
  line-height: 29px;
  font-family: NotoSansMedium;
}

.privacy .privacy-area-wrap {
  background-color: #F9F9F9;
  padding: 50px;
  margin-top: 40px;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 90px;
}

.privacy .privacy-area-wrap .title {
  font-size: 20px;
  font-family: NotoSansBold;
  color: #212121;
  line-height: 29px;
}

.privacy .privacy-area-wrap .title:not(:first-child) {
  margin-top: 30px;
}

.privacy .privacy-area-wrap .contents {
  font-size: 16px;
  font-family: NotoSansRegular;
  color: #212121;
  line-height: 30px;
}

.privacy .commonFrame {
  width: 100%;
  max-width: 1100px;
}

table.commonFrame {
  text-align: center;
}

table.commonFrame tr th {
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  padding: 8px 0;
  font-family: NotoSansMedium;
}

table.commonFrame tr td {
  padding: 8px 0;
  border-bottom: 1px solid #DBDBDB;
  font-family: NotoSansRegular;
  line-height: 21px;
  vertical-align: middle;
}

table.commonFrame tr th:not(:last-child) {
  border-right: 1px solid #DBDBDB;
}

table.commonFrame tr td:not(:last-child) {
  border-right: 1px solid #DBDBDB;
}

@media (max-width: 767px) {
  .header-web {
    display: none;
  }
  .header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: #FFFFFF;
    height: 67px;
    padding: 0 20px;
    width: 100%;
  }
  .header_logo.mobile {
    position: relative;
    background-size: 136px;
    height: 14px;
    -webkit-transform: none;
            transform: none;
  }
  .menu_logo {
    background-image: url(../assets/img/hamberger.png);
    background-size: 26px;
    height: 20px;
    background-repeat: no-repeat;
    -webkit-transform: translateX(58px);
            transform: translateX(58px);
  }
  .bl .menu_logo {
    background-image: url(../assets/img/hamberger_bl.png);
  }
  .banner-bg {
    height: 310px;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
  }
  .banner-text-wrap {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 64px;
  }
  .banner-title {
    font-size: 30px;
  }
  .banner-sub-title {
    font-size: 16px;
    line-height: 24px;
  }
  .contents-total-wrap {
    padding: 0 20px;
    margin-top: 30px;
  }
  .contents-init-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents-title {
    font-size: 21px;
  }
  .contents-title.sub {
    font-size: 15px;
    line-height: 15px;
  }
  .contents-title.mobile {
    display: block;
    line-height: 21px;
  }
  .contents-title.web {
    display: none;
  }
  .contents-img.mobile {
    display: block;
  }
  .contents-img.web {
    display: none;
  }
  .welcome-page {
    height: auto;
  }
  .welcome-page-wrap {
    line-height: 1;
    margin-top: 104px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin-left: 0;
    top: 0;
    left: 0;
  }
  .welcome-text-sub {
    font-size: 14px;
    line-height: 19px;
  }
  .welcome-text-main {
    font-size: 22px;
    line-height: 32px;
    margin-top: 6px;
  }
  .welcome-img {
    top: 0;
    margin-top: 24px;
    margin-right: 0;
    margin-bottom: 30px;
    position: relative;
    right: 174px;
    width: 670px;
  }
  .mileverse .contents-title {
    line-height: unset;
  }
  .mileverse .contents-text {
    margin-top: 8px;
    line-height: 20px;
  }
  .mileverse .greeting-title {
    font-size: 15px;
    line-height: 21px;
    color: #212121;
    margin-top: 16px;
  }
  .mileverse .greeting-text {
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    font-family: NotoSansMedium;
  }
  .mileverse .sign-wrap {
    margin-top: 30px;
  }
  .mileverse .sign-text {
    font-size: 14px;
  }
  .mileverse .director-box-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 18px;
    width: 37%;
  }
  .mileverse .history-start-img {
    margin-top: 60px;
  }
  .mileverse .history-init-wrap.web {
    display: none;
  }
  .mileverse .history-init-wrap.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  .mileverse .history-years {
    width: 46px;
    padding-bottom: 31px;
  }
  .mileverse .history-years.fake {
    height: 40px;
  }
  .mileverse .history-expl.fake {
    padding-bottom: 0;
  }
  .history-years-text {
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px;
  }
  .mileverse .history-expl {
    padding-bottom: 31px;
  }
  .mileverse .history-expl-text {
    font-size: 13px;
    line-height: 22px;
    font-family: NotoSansRegular;
    margin-top: 0;
  }
  .mileverse .contents-title.director {
    margin-top: 10px;
  }
  .mileverse .contents-article-size.director {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 1px solid #EFEFEF;
  }
  .mileverse .founder-name {
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
  }
  .mileverse .founder-history {
    font-size: 9px;
    line-height: 13px;
  }
  .mileverse .thumb-img-wrap {
    margin-left: 0;
  }
  .mileverse .director-box-wrap:not(:first-child) {
    margin-top: 0;
  }
  .mileverse .vision-wrap {
    margin-top: 26px;
    margin-bottom: 52px;
  }
  .mileverse .vision-imge {
    margin-top: 16px;
  }
  .mileverse .vision-text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 19px;
  }
  .bg_mileverse {
    background-position-y: 100%;
    background-position-x: 43%;
  }
  .business .contents-header {
    font-size: 15px;
    line-height: 21px;
    margin-top: 16px;
  }
  .business .contents-text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
  }
  .business .contents-img {
    margin-top: 26px;
  }
  .business .contents-init-wrap:not(:first-child) {
    padding-top: 26px;
  }
  .business .contents-init-wrap:not(:last-child) {
    padding-bottom: 26px;
  }
  .business .contents-init-wrap:last-child {
    margin-bottom: 50px;
  }
  .business .video {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .business .vodeo-wrap {
    overflow: hidden;
    margin: 26px 0;
  }
  .bg_tech {
    background-position-y: 26%;
    background-position-x: 63%;
  }
  .apptech .contents-text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
  }
  .apptech .app-img {
    margin-top: 26px;
  }
  .apptech .btn-wrap {
    margin-top: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .apptech .contents-init-wrap:not(:last-child) {
    padding-bottom: 26px;
    border-bottom: 1px solid #EFEFEF;
  }
  .apptech .contents-init-wrap:not(:first-child) {
    padding-top: 26px;
  }
  .apptech .contents-init-wrap:last-child {
    margin-bottom: 30px;
  }
  .apptech .comming-wrap {
    margin-top: 26px;
  }
  .tech .contents-text {
    font-size: 14px;
    line-height: 21px;
  }
  .tech .article-wrap {
    margin-top: 26px;
  }
  .tech .contents-init-wrap:not(:last-child) {
    padding-bottom: 26px;
  }
  .tech .contents-init-wrap:not(:first-child) {
    padding-top: 26px;
  }
  .tech .contents-init-wrap:last-child {
    margin-bottom: 50px;
  }
  .tech .article-wrap .eco-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 36px 0;
  }
  .tech .article-wrap .eco-wrap .eco-item .token-wrap .token-header {
    font-size: 12px;
    line-height: 20px;
  }
  .tech .article-wrap .eco-wrap .eco-item .token-wrap .token-expl {
    font-size: 11px;
    line-height: 20px;
  }
  .token-table-wrap {
    margin-top: 21px;
  }
  .tech .franch-card {
    font-size: 15px;
    line-height: 24px;
    font-family: NotoSansMedium;
    padding: 14px 18px;
    width: auto;
  }
  .tech .corp-card {
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    font-family: NotoSansMedium;
    padding: 14px 18px;
  }
  .tech .franch-card-wrap {
    margin-top: 16px;
  }
  .tech .corp-card-wrap {
    margin-top: 16px;
  }
  .tech .token-dist-wrap.web {
    display: none;
  }
  .tech .contents-init-wrap.mobile-token-dis-wrap {
    display: block;
  }
  .bg_media {
    background-position-x: 68%;
  }
  .media .refer-total-wrap {
    margin-left: 0;
    margin-top: 16px;
    gap: 0;
  }
  .media .refer-total-wrap img {
    max-width: unset;
  }
  .media .refer-card:not(:first-child) {
    margin-top: 50px;
  }
  .media .refer-header {
    font-size: 15px;
    margin-top: 16px;
    text-align: center;
    line-height: 21px;
  }
  .media .refer-expl {
    font-size: 15px;
    text-align: center;
    line-height: 21px;
    width: auto;
    margin-top: 6px;
  }
  .media .news-total-wrap {
    margin-left: 0;
    margin-top: 16px;
    gap: 0px;
  }
  .media .news-wrap {
    width: 100%;
  }
  .media .news-wrap:not(:first-child) {
    margin-top: 20px;
  }
  .media .news-header {
    font-size: 18px;
    line-height: 26px;
  }
  .media .news-date {
    font-size: 14px;
  }
  .media .news-contents {
    font-size: 14px;
    line-height: 22px;
  }
  .media .contents-init-wrap:not(:last-child) {
    padding-bottom: 28px;
  }
  .media .contents-init-wrap:not(:first-child) {
    padding-top: 26px;
  }
  .media .contents-init-wrap:last-child {
    margin-bottom: 50px;
  }
  .partner .parnter-wrap {
    width: 48%;
    height: 110px;
  }
  .partner .contents-init-wrap:not(:first-child) {
    margin-top: 50px;
  }
  .partner .partener-total-wrap {
    margin-top: 16px;
  }
  .partner .contents-init-wrap:last-child {
    margin-bottom: 50px;
  }
  .partner .contents-title {
    font-size: 18px;
    font-family: GamrketMedium;
  }
  .bg_contact {
    background-position-x: 66%;
  }
  .contact .common-input {
    font-size: 16px;
  }
  .contact .common-input-wrap.name-mail {
    gap: 16px;
  }
  .contact .common-input-wrap:not(:first-child) {
    margin-top: 16px;
  }
  .contact .common-input-wrap:last-child {
    margin-top: 0 !important;
    padding-top: 16px;
    padding-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .fileTxtWrap {
    font-size: 16px;
    height: 40px;
  }
  .contact #fileBtn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-left: 16px;
  }
  .contact #send {
    height: 40px;
    font-size: 16px;
  }
  .foorter-web {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
  .footer-wrap a {
    font-size: 13px;
  }
  .footer-wrap .icon {
    width: 25px;
    height: 24px;
  }
  .privacy .banner-text-wrap {
    margin-bottom: 100px;
  }
  .privacy .privacy-header {
    font-size: 21px;
  }
  .privacy .privacy-sub-header {
    font-size: 16px;
  }
  .privacy .privacy-expl {
    font-size: 14px;
  }
  .privacy .privacy-area-wrap {
    padding: 20px;
    margin-bottom: 50px;
  }
  .privacy .privacy-area-wrap .title {
    font-size: 15px;
  }
  .privacy .privacy-area-wrap .contents {
    font-size: 15px;
  }
  table.commonFrame tr th {
    font-size: 10px;
  }
  table.commonFrame tr td {
    font-size: 10px;
  }
  .mobile-mg-16 {
    margin-top: 16px;
  }
  .mobile-menu-screen {
    background: #FFFFFF;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all ease 0.5s 0s;
    transition: all ease 0.5s 0s;
  }
  .mobile-menu-screen.active {
    left: 0;
  }
  .mobile-menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20px;
  }
  .mobile-menu-wrap:not(:last-child) {
    padding-bottom: 30px;
    border-bottom: 1px solid #EFEFEF;
  }
  .mobile-menu-wrap:not(:first-child) {
    margin-top: 26px;
  }
  .mobile-menu-wrap .level1 {
    width: 130px;
    font-size: 16px;
    line-height: 21px;
    color: #212121;
    font-family: GamrketMedium;
  }
  .mobile-menu-wrap .level2 {
    font-size: 14px;
    line-height: 19px;
    font-family: GamrketMedium;
  }
  .mobile-menu-wrap .level2 a {
    color: #616161;
  }
  .mobile-menu-wrap .level2:not(:first-child) {
    margin-top: 16px;
  }
  .lang_nav {
    font-size: 13px;
    line-height: 17px;
    margin-left: 0;
  }
  .header-mobile a {
    color: #212121;
  }
}
