@charset "UTF-8";
@font-face {
    font-family: 'NanumSquare';
    src:url('../assets/font/NANUMSQUARER.TTF');
}
@font-face {
    font-family: 'NanumSquareBold';
    src:url('../assets/font/NANUMSQUAREB.TTF');
}
@font-face {
    font-family: 'NanumSquareExtraBold';
    src:url('../assets/font/NANUMSQUAREEB.TTF');
}
$point: #632685;
$default: #5a5a5a;
body {
    font-family: 'NanumSquare';
    color:$default;
}
.point-txt{
    color:$point;
}
.header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:49px;
    background: rgba(0,0,0,0.3);
    z-index: 100;
}
.logo{
    position: absolute;
    top:0;
    left:0;
}
.logo .logo-link {
    display: block;
    padding:16px;
}
.logo .logo-link:before{
    content:'';
    background-image: linear-gradient(transparent,transparent),url(../img/m/header-logo.png);
    background-repeat: no-repeat;
    width: 135px;
    height: 17px;
    display: block;
}
.logo .logo-link.menu:before{
    background-image: linear-gradient(transparent,transparent),url(../img/m/menu-logo.png);
}
.menu_btn {
    position: absolute;
    top:17px;
    right:18px;
}
.menu_btn:before{
    content:'';
    background-image: linear-gradient(transparent,transparent),url(../img/m/menu_ico.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 16px;
    display: block;
}
.menu_btn.exit:before{
    background-image: linear-gradient(transparent,transparent),url(../img/m/exit_ico.png);
    width:19px;
    height:19px;
}
.menu_slider{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    font-size:16px;
    transform: translateX(100%);
    z-index: 1000;
    background-color:#ffffff;
}
.menu_slider.on {
    transform: translateX(0);
    transition: all .2s ease-in-out;
}
.menu-header{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    height:49px;
    box-shadow: 0px -6px 16px #9a9a9a;
}
.menu_area{
    height:100%;
    overflow-y: scroll;
    padding: 50px 16px 0;
}
.menu-list{
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
    font-family: NanumSquareBold;
}
.menu-name{
    text-decoration: none;
    color:$default;
}
.menu_area ul li:not(:last-child){
    border-bottom: 1px solid #E3E3E3;
}
.white-paper-btn{
    height: 32px;
    background: transparent;
    border: 1px solid #8b8b8b;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
}
.wrap{
    position: relative;
}
.container{
    padding:0;
    overflow: hidden;
}
.section_main {
}
.section_main_video {
    width: 100%;
    height:410px;
    position: relative;
    overflow: hidden;
}
.header-video{
    margin-left: -380px;
    width: 300%;
    animation:scale ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 6s;
}
@keyframes scale{
    from {
        transform:scale(1);
    }
    to {
        transform:scale(1.4);
    }
}
.section_main_video_txt {
    position: absolute;
    top:50%;
    transform: translateY(-20%);
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
}
.section_main_video_txt span{
    font-size: 30px;
    line-height: 2;
    font-weight: bold;
}
.section_main_txt_wrap{
    padding:28px 20px;
    line-height: 1.6;
    height:75px;
    position: relative;
}
.section_main_txt_wrap p{
    color:$default;
    font-weight: bold;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 276px;
}
.section_brand {
    background-color:#f5f5f5;
    padding:30px 16px;
}
.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:$default;
}
.brand-img-wrapper {
    margin-top:26px;
    line-height: 30px;
    text-align: center;
}
.brand-img {
    vertical-align: middle;
}
.brand-img:not(:first-child){
    margin-left:12px;
}
.brand-point-txt {
    color: #8d3981;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    line-height: 1.4;
    font-weight: bold;
}
.brand-desc {
    margin-top: 16px;
    font-size: 14px;
    text-align: center;
    color: $default;
    line-height: 1.4;
}
.section_business {
    padding: 30px 16px;
    text-align: center;
}
.business-list-wrapper {

}
.business-list-wrapper li{
    overflow: hidden;
    padding:22px 16px;
    border-bottom:1px solid #E1E1E1;
}
.business-list-wrapper li:before{
    content: '';
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 20px;
    background-size: contain;
}
.business-list-customer:before{
    background-image: linear-gradient(transparent,transparent),url(../img/bs-ico1.png);
}
.business-list-company:before{
    background-image: linear-gradient(transparent,transparent),url(../img/bs-ico2.png);
}
.business-list-branch:before{
    background-image: linear-gradient(transparent,transparent),url(../img/bs-ico3.png);
}
.business-list-investor:before{
    background-image: linear-gradient(transparent,transparent),url(../img/bs-ico4.png);
}
.business-list-txt{
    font-size: 14px;
    color:$default;
    text-align: left;
    line-height: 1.4;
}
.business-sub-title{
    font-size: 18px;
    color:$point;
    text-align: center;
    font-weight: bold;
}
.bs-overview-arrow-txt-wrapper{
    display: inline-block;
    width: 79px;
    margin: 0 5px;
}
.bs-overview-arrow-txt{
    font-size:10px;
}
.business-overview-wrapper{
    padding: 30px 0;
}
.business-overview-txt{
    font-size: 14px;
    color:$default;
    text-align: center;
    line-height: 1.5;
    margin-top:20px;
}
.business-overview-bottom-wrapper{
    margin-top:30px;
    text-align: center;
}
.business-btm-img{
    vertical-align: middle;
    width:80%;
}
.business-btm-img.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    width:15%;
}
.section_app{
    position: relative;
    height:500px;
    padding:30px 16px;
    background-image: linear-gradient(transparent,transparent),url(../img/m/app_moak_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 560px;
}
.app-list-wrap{
    position: absolute;
    bottom: 39px;
    left: 50%;
    width: 320px;
    transform: translateX(-50%);
}
.app-list{
    overflow: hidden;
}
.app-list:before{
    content: '';
    float: left;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    margin-right: 10px;;
}
.app-list.one:before{
    background-image: linear-gradient(transparent,transparent),url(../img/m/number_1.png);   
}
.app-list.two:before{
    background-image: linear-gradient(transparent,transparent),url(../img/m/number_2.png);   
}
.app-list.three:before{
    background-image: linear-gradient(transparent,transparent),url(../img/m/number_3.png);   
}
.app-list.four:before{
    background-image: linear-gradient(transparent,transparent),url(../img/m/number_4.png);   
}
.app-list.five:before{
    background-image: linear-gradient(transparent,transparent),url(../img/m/number_5.png);   
}
.app-list.six:before{
    background-image: linear-gradient(transparent,transparent),url(../img/m/number_6.png);   
}
.app-list-txt-wrap{
    margin-left: 24px;
}
.app-list-title{
    font-weight: bold;
    font-size: 14px;
}
.app-list-txt{
    font-size: 12px;
    margin:6px 0 10px 0;
}
.section_token{
    padding:30px 16px 0 16px;
}
.token-subtitle{
    font-size: 18px;
    text-align: center;
    margin:18px 0 12px 0;
    font-weight: bold;
}
.token-sub-txt{
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
}
.token-list-wrap{
    margin-top:24px;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 30px
}
.token-list-wrap ul li:not(:first-child){
    margin-top: 22px;
}
.token-list-title{
    font-size:14px;
    font-weight: bold;
    color:#8d3981;
}
.token-list-txt{
    color: $default;
    font-size: 14px;
    line-height: 1.4;
    margin-top:6px;
}
.token-list:before{
    content: '';
    float: left;
    width: 60px;
    height: 76px;
    background-repeat: no-repeat;
    margin-right: 16px;
    margin-top:16px;
    background-size: contain;
}
.token-list.mvc:before{
    background-image: linear-gradient(transparent,transparent),url(../img/mvc.png);
}
.token-list.mvp:before{
    background-image: linear-gradient(transparent,transparent),url(../img/mvp.png);
}
.archi-wrap{
    text-align: center;
    padding-bottom:30px;
    border-bottom: 1px solid #E1E1E1;
}
.archi-txt-ul{
    text-align: left;
}
.archi-list-title{
    color: #8d3981;
    font-weight: bold;
    margin-bottom: 10px;
}
.archi-list-txt{
    text-indent: -10px;
    margin-left: 10px;
    line-height: 1.2;
    font-size: 14px;
}
.archi-txt-ul li{
    margin-top:16px;
}
.section_roadmap{
    padding:30px 16px;
    text-align: center;
}
.roadmap-img{
    margin-top:30px;
}
.section_members{
    padding:30px 16px;
    background-color: #f5f5f5;
}
.member-subtitle{
    font-size: 18px;
    text-align: center;
    margin: 10px 0 30px 0;
    font-weight: bold;
}
.member-list-wrap{
    margin-bottom: 38px;
}
.member-list-wrap li:not(:last-child){
    margin-bottom: 16px;;
}
.member-card-wrap{
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 100px;
}
.member-card-img-wrap{
    position: relative;
}
.member-img{
    width: 82px;
    height:82px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.member-card-point{
    position: absolute;
    width: 4px;
    height: 20px;
    border-radius: 6px;
    background-color: #ceafbe;
    top: 50%;
    transform: translateY(-50%);
    left: -2px;
}
.member-card-txt-wrap{
    background-color: #ffffff;
    border-radius: 6px;
    margin-left: 10px;
    position: relative;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    padding:10px;
}
.none-font{
    font-family: Arial, Helvetica, sans-serif;
}
.member-card-name{
    font-size: 14px;
    margin-bottom: 10px;
    font-family: NanumSquareBold;
}
.member-card-position{
    font-size: 14px;
    color: #8d3981;
    margin-left: 8px;
}
.member-card-history{
    font-size: 13px;
    line-height: 1.3;
}
.section_partners{
    padding:30px 16px;
}
.partners-card-wrap{
    width: 50%;
    float: left;
    margin-top:30px;
}
.partners-card{
    margin:0 4px;
    background-color: white;
    // width:156px;
    height:174px;
    padding-bottom:10px;
    text-align: center;
    position: relative;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.05);
}
.partners-card-label{
    position: absolute;
    top:-10px;
    left:50%;
    transform:translateX(-50%);
    width:110px;
    color:white;
    height:24px;
    background: #CEAEBD;
    border-radius: 10px;
    font-weight: bold;
    font-size:13px;
    text-align: center;
    line-height: 24px;
}
.partners-card-label.media{
    background:#B7AFCE;
}
.partners-card-label.tech{
    background:#84B8CE;
}

.partners-txt{
    font-size: 13px;
    line-height: 19px;
}
.partners-url{
    font-size: 10px;
    color: #3C97DC;
    text-decoration: none;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}
.partners-url.undefined{
    color:#8A8A8A;
}
.partner-comming-soon{
    position: absolute;
    left:50%;
    top:50%;
    transform:traNSLATE(-50%,-50%);
    font-weight: bold;   
}
.footer{
    background-color: #481455;
    padding:30px 28px;
    text-align: left;
    font-size: 13px;
    line-height: 1.5;
    color: #ffffff;
}
.footer-copyright{
    margin-top:18px;
    font-size: 12px;
}
.pop-layer .pop-container {
    padding: 20px 16px;
    position: relative;
}
.pop-layer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: auto;
    background-color: #fff;
    border: 5px solid $point;
    z-index: 10;
}
.dim-layer {
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.dim-layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}
.dim-layer .pop-layer {
    display: block;
}
.layer-close-ico{
    position: absolute;
    top:10px;
    right:10px;
}
.pop-conts{
    padding-top:10px;
}
.mail-list{
    padding:10px;
    text-align: center;
}
.mail-input{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #d6d6d6;
    letter-spacing: 0.1em;
    color: #8b8b8b;
}
.mail-textarea{
    resize: none;
    height: 200px;
}
.email-btn{
    background-color: transparent;
    padding: 12px 40px 9px;
    border: 2px solid #3a3a3a;
    cursor: pointer;
    line-height: 2.4;
}
.mail-fixed-btn{
    position: fixed;
    background: #8D3981;
    border: 1px solid #8D3981;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
    right: 20px;
    bottom: 20px;
    width: 30px;
    height:30px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3)
}
.mail-btn-ico{
    width: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loadingWrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(192, 118, 211, 0.3);
    border-radius: 50%;
    border-top-color: #8D3981;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
.loading-dimm{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 12000;
}
@keyframes spin {
to { 
    -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
to { -webkit-transform: rotate(360deg); }
}