@charset "UTF-8";

$font-path: "../../../assets/font";
// Gmarket
@font-face {
  font-family: GmarketSansMedium;
  src: url($font-path + "/GmarketSansMedium.woff2") format("woff2"), url($font-path + "/GmarketSansMedium.woff") format("woff");
}

@font-face {
  font-family: GmarketSansBold;
  src: url($font-path + "/GmarketSansBold.woff2") format("woff2"), url($font-path + "/GmarketSansBold.woff") format("woff");
}

// NotoSans
@font-face {
  font-family: NotoSansRegular;
  src: url($font-path + "/NotoSansKR-Regular.woff2") format("woff2"), url($font-path + "/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: NotoSansMedium;
  src: url($font-path + "/NotoSansKR-Medium.woff2") format("woff2"), url($font-path + "/NotoSansKR-Medium.woff") format("woff");
}

@font-face {
  font-family: NotoSansBold;
  src: url($font-path + "/NotoSansKR-Bold.woff2") format("woff2"), url($font-path + "/NotoSansKR-Bold.woff") format("woff");
}

// NanumSquare
@font-face {
  font-family: NanumSquareR;
  src: url($font-path + "/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: NanumSquareB;
  src: url($font-path + "/NanumSquareB.woff2") format("woff2"), url($font-path + "/NanumSquareB.woff") format("woff");
}

@font-face {
  font-family: NanumSquareEB;
  src: url($font-path + "/NanumSquareEB.ttf") format("truetype");
}

// etc
@font-face {
  font-family: MFSongHe;
  src: url($font-path + "/MFSongHe.woff2") format("woff2"), url($font-path + "/MFSongHe.woff") format("woff");
}

@font-face {
  font-family: DangDang;
  src: url($font-path + "/Cafe24Dangdanghae.woff2") format("woff2"), url($font-path + "/Cafe24Dangdanghae.woff") format("woff");
}

@font-face {
  font-family: SANGJU Gotgam;
  src: url($font-path + "/SANGJUGotgam.ttf") format("truetype");
}

@font-face {
  font-family: Jalnan;
  src: url($font-path + "/Jalnan.ttf") format("truetype");
}

@font-face {
  font-family: Jalnan;
  src: url("../../../assets/font/Jalnan.ttf") format("truetype");
}

// Gmarket
.gmarket-medium {
  font-family: GmarketSansMedium;
}

.gmarket-bold {
  font-family: GmarketSansBold;
}

// NotoSans
.noto-regular {
  font-family: NotoSansRegular;
  &:lang(cn) {
    font-family: MFSongHe;
  }
}

.noto-medium {
  font-family: NotoSansMedium;
  &:lang(cn) {
    font-family: MFSongHe;
  }
}

.noto-bold {
  font-family: NotoSansBold;
  &:lang(cn) {
    font-family: MFSongHe;
  }
}

// NanumSquare
.nanum-regular {
  font-family: NanumSquareR;
}

.nanum-bold {
  font-family: NanumSquareB;
}

.nanum-extra {
  font-family: NanumSquareEB;
}

// etc
.dangdang {
  font-family: DangDang;
}

.sangju {
  font-family: SANGJU Gotgam;
}

.songhe {
  font-family: MFSongHe;
}

.jalnan {
  font-family: Jalnan;
}
