@font-face {
  font-family: GmarketSansMedium;
  src: url("../../../assets/font/GmarketSansMedium.woff2") format("woff2"), url("../../../assets/font/GmarketSansMedium.woff") format("woff");
}

@font-face {
  font-family: GmarketSansBold;
  src: url("../../../assets/font/GmarketSansBold.woff2") format("woff2"), url("../../../assets/font/GmarketSansBold.woff") format("woff");
}

@font-face {
  font-family: NotoSansRegular;
  src: url("../../../assets/font/NotoSansKR-Regular.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Regular.woff") format("woff");
}

@font-face {
  font-family: NotoSansMedium;
  src: url("../../../assets/font/NotoSansKR-Medium.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Medium.woff") format("woff");
}

@font-face {
  font-family: NotoSansBold;
  src: url("../../../assets/font/NotoSansKR-Bold.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Bold.woff") format("woff");
}

@font-face {
  font-family: NanumSquareR;
  src: url("../../../assets/font/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: NanumSquareB;
  src: url("../../../assets/font/NanumSquareB.woff2") format("woff2"), url("../../../assets/font/NanumSquareB.woff") format("woff");
}

@font-face {
  font-family: NanumSquareEB;
  src: url("../../../assets/font/NanumSquareEB.ttf") format("truetype");
}

@font-face {
  font-family: MFSongHe;
  src: url("../../../assets/font/MFSongHe.woff2") format("woff2"), url("../../../assets/font/MFSongHe.woff") format("woff");
}

@font-face {
  font-family: DangDang;
  src: url("../../../assets/font/Cafe24Dangdanghae.woff2") format("woff2"), url("../assets/font/Cafe24Dangdanghae.woff") format("woff");
}

@font-face {
  font-family: SANGJU Gotgam;
  src: url("../../../assets/font/SANGJUGotgam.ttf") format("truetype");
}

.gmarket-medium {
  font-family: GmarketSansMedium;
}

.gmarket-bold {
  font-family: GmarketSansBold;
}

.noto-regular {
  font-family: NotoSansRegular;
}

.noto-regular:lang(cn) {
  font-family: MFSongHe;
}

.noto-medium {
  font-family: NotoSansMedium;
}

.noto-medium:lang(cn) {
  font-family: MFSongHe;
}

.noto-bold {
  font-family: NotoSansBold;
}

.noto-bold:lang(cn) {
  font-family: MFSongHe;
}

.nanum-regular {
  font-family: NanumSquareR;
}

.nanum-bold {
  font-family: NanumSquareB;
}

.nanum-extra {
  font-family: NanumSquareEB;
}

.dangdang {
  font-family: DangDang;
}

.sangju {
  font-family: SANGJU Gotgam;
}

.songhe {
  font-family: MFSongHe;
}

.appguide {
  word-break: keep-all;
}

.appguide .contents-init-wrap {
  width: 100%;
}

.appguide .contents-total-wrap {
  margin: 40px 20px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appguide .divider {
  width: 100%;
  height: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #efefef;
}

.appguide .contents-text {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

.appguide .contents-text:lang(en) {
  font-size: 13px;
  line-height: 18px;
  word-spacing: 1px;
}

.appguide .app-img {
  width: 100%;
}

.appguide .contents-title {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 20px;
}

.appguide .contents-title:first-child {
  margin-top: 0;
}

.appguide .contents-title:lang(en) {
  margin-top: 4px;
}
