.appguide {
  word-break: keep-all;
}

.appguide .contents-init-wrap {
  width: 100%;
}

.appguide .contents-total-wrap {
  margin: 40px 20px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appguide .divider {
  width: 100%;
  height: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #efefef;
}

.appguide .contents-text {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

.appguide .contents-text:lang(en) {
  font-size: 13px;
  line-height: 18px;
  word-spacing: 1px;
}

.appguide .app-img {
  width: 100%;
}

.appguide .contents-title {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 20px;
}

.appguide .contents-title:first-child {
  margin-top: 0;
}

.appguide .contents-title:lang(en) {
  margin-top: 4px;
}
