.apptech .contents-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apptech .background-wrap {
  width: 100%;
  background-image: url("../../../assets/img/appGuide/appGuide-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.apptech .contents-init-wrap {
  border: none;
}

.apptech .contents-init-wrap:first-child {
  width: 1300px;
  padding-bottom: 50px;
  border-bottom: 1px solid #efefef;
}

.apptech .contents-init-wrap:last-child {
  padding-bottom: 140px;
}

.apptech .contents-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 27px;
  font-family: GmarketSansBold;
}

.apptech .contents-title.web {
  font-size: 28px;
  line-height: 32px;
}

.apptech .contents-text {
  font-size: 20px;
  line-height: 34px;
}

.apptech .contents-text.web:first-child {
  font-size: 20px;
  line-height: 29px;
}

.apptech .contents-text.mobile {
  display: none;
}

.apptech .app-img {
  margin-top: 20px;
  width: 100%;
}

.apptech .app-img.mobile {
  display: none;
}

.apptech .btn-wrap {
  margin-top: 38px;
  text-align: right;
}

.apptech .btn-wrap .img-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .apptech .background-wrap {
    background: transparent;
  }
  .apptech .bg_tech {
    background-position-y: 26%;
    background-position-x: 63%;
  }
  .apptech .contents-init-wrap:first-child {
    width: 100%;
    padding-bottom: 0;
  }
  .apptech .contents-title {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
  }
  .apptech .contents-title.mobile {
    margin-bottom: 16px;
    font-size: 21px;
    line-height: 24px;
  }
  .apptech .contents-text {
    font-size: 14px;
    line-height: 22px;
  }
  .apptech .contents-text.web {
    display: none;
  }
  .apptech .contents-text.mobile {
    display: block;
  }
  .apptech .app-img {
    margin-top: 6px;
  }
  .apptech .app-img.web {
    display: none;
  }
  .apptech .app-img.mobile {
    display: block;
  }
  .apptech .btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    padding-right: 0;
  }
  .apptech .contents-init-wrap {
    border-bottom: 1px solid #efefef;
    padding: 26px 0;
  }
  .apptech .contents-init-wrap:first-child {
    width: 100%;
    padding-top: 0;
    padding-bottom: 26px;
  }
  .apptech .contents-init-wrap:last-child {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border: none;
  }
  .apptech .contents-article-size {
    width: 100%;
    margin-left: 0;
  }
  .apptech .contents-article-size.web {
    width: 100%;
    margin-left: 0;
  }
}
