@charset "UTF-8";
@font-face {
  font-family: GmarketSansMedium;
  src: url("../../../assets/font/GmarketSansMedium.woff2") format("woff2"), url("../../../assets/font/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: GmarketSansBold;
  src: url("../../../assets/font/GmarketSansBold.woff2") format("woff2"), url("../../../assets/font/GmarketSansBold.woff") format("woff");
}
@font-face {
  font-family: NotoSansRegular;
  src: url("../../../assets/font/NotoSansKR-Regular.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: NotoSansMedium;
  src: url("../../../assets/font/NotoSansKR-Medium.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
  font-family: NotoSansBold;
  src: url("../../../assets/font/NotoSansKR-Bold.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Bold.woff") format("woff");
}
@font-face {
  font-family: NanumSquareR;
  src: url("../../../assets/font/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: NanumSquareB;
  src: url("../../../assets/font/NanumSquareB.woff2") format("woff2"), url("../../../assets/font/NanumSquareB.woff") format("woff");
}
@font-face {
  font-family: NanumSquareEB;
  src: url("../../../assets/font/NanumSquareEB.ttf") format("truetype");
}
@font-face {
  font-family: MFSongHe;
  src: url("../../../assets/font/MFSongHe.woff2") format("woff2"), url("../../../assets/font/MFSongHe.woff") format("woff");
}
@font-face {
  font-family: DangDang;
  src: url("../../../assets/font/Cafe24Dangdanghae.woff2") format("woff2"), url("../../../assets/font/Cafe24Dangdanghae.woff") format("woff");
}
@font-face {
  font-family: SANGJU Gotgam;
  src: url("../../../assets/font/SANGJUGotgam.ttf") format("truetype");
}
@font-face {
  font-family: Jalnan;
  src: url("../../../assets/font/Jalnan.ttf") format("truetype");
}
.gmarket-medium {
  font-family: GmarketSansMedium;
}

.gmarket-bold {
  font-family: GmarketSansBold;
}

.noto-regular {
  font-family: NotoSansRegular;
}
.noto-regular:lang(cn) {
  font-family: MFSongHe;
}

.noto-medium {
  font-family: NotoSansMedium;
}
.noto-medium:lang(cn) {
  font-family: MFSongHe;
}

.noto-bold {
  font-family: NotoSansBold;
}
.noto-bold:lang(cn) {
  font-family: MFSongHe;
}

.nanum-regular {
  font-family: NanumSquareR;
}

.nanum-bold {
  font-family: NanumSquareB;
}

.nanum-extra {
  font-family: NanumSquareEB;
}

.dangdang {
  font-family: DangDang;
}

.sangju {
  font-family: SANGJU Gotgam;
}

.songhe {
  font-family: MFSongHe;
}

.jalnan {
  font-family: Jalnan;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  word-break: keep-all;
  overflow-x: hidden;
}

main > div,
footer > div {
  position: absolute;
  width: 100%;
  background-size: cover;
  z-index: -1;
}

main > div {
  background: url("../../../bookcash/img/bg-top03.png") no-repeat;
  background-size: cover;
  top: 0;
}

footer > div {
  background: url("../../../bookcash/img/bg-bottom02.png") no-repeat;
  background-size: cover;
}

main > div img,
footer > div img {
  position: absolute;
  z-index: -1;
  width: 100%;
}
main > div img.top,
footer > div img.top {
  top: 0;
}

footer > div img {
  bottom: 0;
}

main {
  padding-top: 7.2%;
  padding-bottom: 6.25%;
}

main section {
  max-width: 900px;
  margin: 0 auto;
}

main section .title {
  display: flex;
  align-items: center;
}

main section .title img {
  width: 100%;
}

main section .img-wrap {
  display: flex;
  justify-content: flex-end;
}

main section .img-wrap img {
  width: 46%;
  margin-right: 40px;
}

main section .contents {
  margin-top: 50px;
  padding: 70px 60px;
  background-color: #ffffff;
  border-radius: 40px;
}

main section .contents .tag {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
  padding: 20px 26px;
  border-radius: 38px;
  background-color: #6f19cb;
}
main section .contents .tag.gap {
  margin-top: 40px;
}

main section .contents .tag p {
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
}

main section .contents > p {
  margin-left: 16px;
  font-size: 25px;
  line-height: 45px;
  color: #373737;
}

main section .contents .install {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

main section .contents .install p {
  font-size: 25px;
  line-height: 52px;
  color: #373737;
  margin-bottom: 15px;
}

main section .contents .install > img {
  width: 51.2%;
}

main section .contents .install div {
  width: 48.7%;
  padding: 0 54px 0 82px;
  text-align: center;
}

main section .contents .install div img {
  width: 100%;
}

footer {
  padding: 6.25% 0 12.7% 0;
}

footer section {
  max-width: 806px;
  margin: 0 auto;
  font-size: 23px;
  line-height: 45px;
  color: #373737;
  list-style-type: "-";
}

footer .title {
  font-size: 25px;
  line-height: 32px;
  color: #6f19cb;
  margin-bottom: 50px;
}

footer ul {
  list-style-type: "- ";
  margin-left: 20px;
}

footer ul li:first-child {
  list-style-type: "※ ";
  margin-left: 10px;
  margin-bottom: 50px;
}

@media (min-width: 1920px) {
  main > div,
  main > div img,
  footer > div,
  footer > div img {
    display: none;
  }
  main {
    background: url("../../../bookcash/img/bg-top.png") no-repeat;
    background-size: cover;
  }
  footer {
    background: url("../../../bookcash/img/bg-bottom.png") no-repeat;
    background-size: cover;
  }
  main section .contents {
    margin-bottom: 0;
  }
}
@media (max-width: 940px) {
  main section,
  footer section {
    max-width: unset;
    margin: 0 20px;
  }
}
@media (max-width: 771px) {
  main section .contents .install p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  main {
    padding-top: 8%;
  }
  main section .img-wrap img {
    margin-right: 15px;
  }
  main section .contents {
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
  }
  main section .contents .tag {
    padding: 10px 16px;
    margin-bottom: 15px;
  }
  main section .contents .tag p {
    font-size: 15px;
    line-height: 22px;
  }
  main section .contents > p {
    margin-left: 8px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -1.3;
  }
  main section .contents .install > img {
    width: 54.2%;
  }
  main section .contents .install p {
    font-size: 11px;
    line-height: 21px;
    margin-bottom: 4px;
  }
  main section .contents .install div {
    width: 43%;
    padding: 0 10px 0 20px;
  }
  footer {
    padding: 36px 0 80px 0;
  }
  footer .title {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  footer ul {
    font-size: 14px;
    line-height: 24px;
    margin-left: 12px;
  }
  footer ul li:first-child {
    margin-bottom: 15px;
    margin-left: 6px;
  }
}