@font-face {
  font-family: GmarketSansMedium;
  src: url("../../../assets/font/GmarketSansMedium.woff2") format("woff2"), url("../../../assets/font/GmarketSansMedium.woff") format("woff");
}

@font-face {
  font-family: GmarketSansBold;
  src: url("../../../assets/font/GmarketSansBold.woff2") format("woff2"), url("../../../assets/font/GmarketSansBold.woff") format("woff");
}

@font-face {
  font-family: NotoSansRegular;
  src: url("../../../assets/font/NotoSansKR-Regular.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Regular.woff") format("woff");
}

@font-face {
  font-family: NotoSansMedium;
  src: url("../../../assets/font/NotoSansKR-Medium.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Medium.woff") format("woff");
}

@font-face {
  font-family: NotoSansBold;
  src: url("../../../assets/font/NotoSansKR-Bold.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Bold.woff") format("woff");
}

@font-face {
  font-family: NanumSquareR;
  src: url("../../../assets/font/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: NanumSquareB;
  src: url("../../../assets/font/NanumSquareB.woff2") format("woff2"), url("../../../assets/font/NanumSquareB.woff") format("woff");
}

@font-face {
  font-family: NanumSquareEB;
  src: url("../../../assets/font/NanumSquareEB.ttf") format("truetype");
}

@font-face {
  font-family: MFSongHe;
  src: url("../../../assets/font/MFSongHe.woff2") format("woff2"), url("../../../assets/font/MFSongHe.woff") format("woff");
}

@font-face {
  font-family: DangDang;
  src: url("../../../assets/font/Cafe24Dangdanghae.woff2") format("woff2"), url("../assets/font/Cafe24Dangdanghae.woff") format("woff");
}

@font-face {
  font-family: SANGJU Gotgam;
  src: url("../../../assets/font/SANGJUGotgam.ttf") format("truetype");
}

.gmarket-medium {
  font-family: GmarketSansMedium;
}

.gmarket-bold {
  font-family: GmarketSansBold;
}

.noto-regular {
  font-family: NotoSansRegular;
}

.noto-regular:lang(cn) {
  font-family: MFSongHe;
}

.noto-medium {
  font-family: NotoSansMedium;
}

.noto-medium:lang(cn) {
  font-family: MFSongHe;
}

.noto-bold {
  font-family: NotoSansBold;
}

.noto-bold:lang(cn) {
  font-family: MFSongHe;
}

.nanum-regular {
  font-family: NanumSquareR;
}

.nanum-bold {
  font-family: NanumSquareB;
}

.nanum-extra {
  font-family: NanumSquareEB;
}

.dangdang {
  font-family: DangDang;
}

.sangju {
  font-family: SANGJU Gotgam;
}

.business .contents-init-wrap:not(:first-child) {
  padding-top: 100px;
}

.business .contents-init-wrap:not(:last-child) {
  padding-bottom: 120px;
  border-bottom: 1px solid #efefef;
}

.business .contents-init-wrap:last-child {
  margin-bottom: 120px;
}

.business .contents-header {
  color: #212121;
  font-family: NotoSansBold;
  font-size: 24px;
}

.business .contents-header:lang(cn) {
  font-family: MFSongHe;
}

.business .contents-text {
  margin-top: 7px;
  font-size: 20px;
  line-height: 29px;
  font-family: NotoSansMedium;
}

.business .contents-text:lang(cn) {
  font-family: MFSongHe;
}

.business .contents-img {
  width: 100%;
  margin-top: 70px;
}

.business .video {
  width: 100%;
  max-width: 1046px;
}

@media (max-width: 767px) {
  .business .contents-header {
    margin-top: 16px;
    font-size: 15px;
    line-height: 21px;
  }
  .business .contents-text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .business .contents-img,
  .business .contents-init-wrap:not(:first-child) {
    margin-top: 26px;
    padding-top: 0;
  }
  .business .contents-init-wrap:not(:last-child) {
    padding-bottom: 26px;
  }
  .business .contents-init-wrap:last-child {
    margin-bottom: 50px;
  }
  .business .video {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .business .vodeo-wrap {
    overflow: hidden;
    margin: 26px 0;
  }
}
