@charset "UTF-8";
@font-face {
  font-family: NotoSansRegular;
  src: url("../assets/font/NotoSansKR-Regular.woff2") format("woff2"),
    url("../assets/font/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: NotoSansBold;
  src: url("../assets/font/NotoSansKR-Bold.woff2") format("woff2"),
    url("../assets/font/NotoSansKR-Bold.woff") format("woff");
}
@font-face {
  font-family: NotoSansMedium;
  src: url("../assets/font/NotoSansKR-Medium.woff2") format("woff2"),
    url("../assets/font/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
  font-family: DangDang;
  src: url("../assets/font/Cafe24Dangdanghae.woff2") format("woff2"),
    url("../assets/font/Cafe24Dangdanghae .woff") format("woff");
}
body {
  background-color: #ffefa1;
  min-width: 1051px;
}
.wrap {
  width: 100%;
}
.contents {
  background-image: url("../events/img/web-bg.png");
  margin: 0 auto;
  background-repeat: round;
  padding-bottom: 80px;
}
.banner-wrap {
  padding-top: 220px;
  text-align: center;
}
.mileverse-wrap {
  background-color: #ff9595;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 16px;
  width: 1000px;
  margin: 120px auto 0;
}
.mileverse-inner-wrap {
  border: 1px dotted #ffffff;
  border-radius: 10px;
  padding: 100px;
}
.mileverse-inner-wrap .row {
  display: flex;
  align-items: center;
}
.mileverse-title {
  font-size: 32px;
  font-family: NotoSansBold;
  color: #ffffff;
  margin-left: 10px;
}
.mileverse-expl {
  font-size: 30px;
  font-family: NotoSansBold;
  color: #ffffff;
  line-height: 50px;
  margin-top: 40px;
}
.event {
  position: relative;
  box-sizing: border-box;
  margin: 205px auto 0;
  width: 1000px;
  padding: 100px;
  background-color: #ffffff;
  border-radius: 10px;
}
.evt-banner {
  position: absolute;
  left: 50%;
  top: -106px;
  transform: translateX(-50%);
}
.evt-banner-m {
  display: none;
}
.event-title {
  font-size: 30px;
  font-family: NotoSansBold;
  color: #2d2d2d;
}
.event-title.mg {
  margin-top: 100px;
}
.event-expl {
  margin-top: 40px;
  font-size: 30px;
  font-family: NotoSansRegular;
  line-height: 50px;
  color: #2d2d2d;
  list-style: decimal;
}
ol.event-expl {
  margin-left: 33px;
}

.event-expl-sub {
  font-size: 24px;
  font-family: NotoSansBold;
  margin-top: 24px;
  color: #2d2d2d;
  line-height: 30px;
}
.install-wrap {
  background-color: #fff5c6;
}
.install {
  width: 800px;
  margin: 0 auto;
  padding: 100px 0 56px;
  display: block;
}

.install-title {
  color: #2d2d2d;
  font-size: 30px;
  font-family: NotoSansBold;
}

.qr-mock-wrap {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.qr-wrap .qr-item:not(:first-child) {
  margin-left: 110px;
}

.qr-item {
  text-align: center;
  display: inline-block;
}
.store-btn {
  margin-top: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
}
.footer {
  padding-bottom: 160px;
  padding-top: 120px;
}
.footer-wrap {
  width: 800px;
  margin: 0 auto;
}
.footer-wrap .footer-contents:not(:first-child) {
  margin-top: 80px;
}
.caution {
  color: #2e5fff;
  line-height: 46px;
  font-size: 26px;
  font-family: NotoSansMedium;
}
.footer-title {
  font-family: NotoSansBold;
  font-size: 20px;
  color: #2d2d2d;
}
.footer-text {
  margin-top: 40px;
  font-family: NotoSansRegular;
  font-size: 20px;
  color: #2d2d2d;
  line-height: 34px;
}
.event01-btn,
.event02-btn {
  display: none;
}

ul.footer-text {
  list-style-type: none;
}
ul.footer-text > li:before {
  content: "-";
  margin-right: 20px;
}

.dangdang {
  font-family: DangDang;
}
@media (max-width: 767px) {
  body {
    min-width: unset;
  }
  .contents {
    background-image: url("../events/img/mobile-bg.png");
    /* height: 546px; */
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 20px;
  }
  .banner-wrap {
    padding-top: 50px;
    text-align: center;
  }
  .mileverse-wrap {
    margin-top: 40px;
    background-color: #ff9595;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }
  .mileverse-inner-wrap {
    padding: 20px;
  }
  .mileverse-title {
    font-size: 16px;
    color: #ffffff;
    margin-left: 4px;
  }
  .mileverse-expl {
    font-size: 15px;
    line-height: 22px;
    margin-top: 19px;
  }

  .event {
    margin-top: 56px;
    width: 100%;
    padding: 30px 20px;
    border-top-left-radius: 0;
  }
  .evt-banner {
    position: absolute;
    left: 50%;
    top: -106px;
    transform: translateX(-50%);
    display: none;
  }
  .evt-banner-m {
    display: block;
    position: absolute;
    top: -26px;
    left: 0;
  }
  .event-title {
    font-size: 16px;
  }
  .event-title.mg {
    margin-top: 30px;
  }
  .event-expl {
    margin-top: 12px;
    font-size: 15px;
    line-height: 22px;
  }
  ol.event-expl {
    margin-left: 16px;
  }

  .event-expl-sub {
    font-size: 12px;
    margin-top: 12px;
    line-height: 16px;
  }
  .install-wrap {
    display: none;
  }
  .footer {
    background-color: #ebebeb;
    padding: 36px 20px 80px;
  }
  .footer-wrap {
    width: unset;
    margin: 0;
  }
  .footer-wrap .footer-contents:not(:first-child) {
    margin-top: 30px;
  }
  .caution {
    line-height: 24px;
    font-size: 14px;
  }
  .footer-title {
    font-size: 14px;
  }
  .footer-text {
    font-size: 14px;
    margin-top: 16px;
    line-height: 24px;
  }

  .event01-btn {
    margin-top: 30px;
  }
  .event02-btn {
    margin: 30px 0;
  }
  .btn {
    background-color: #ff7575;
    border-radius: 2px;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: NotoSansBold;
    font-size: 15px;
    border: none;
  }
  ul.footer-text {
    margin-left: 10px;
  }
  ul.footer-text > li {
    text-indent: -10px;
  }
  ul.footer-text > li:before {
    content: "-";
    margin-right: 6px;
  }
}
