*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  word-break: keep-all;
  background-color: #88d1e6;
}

.mobile {
  display: none;
}

.contents {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #604244;
}

.contents .background {
  z-index: -1;
  position: absolute;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contents .top {
  top: 0;
  -o-object-position: top;
     object-position: top;
  min-height: 60%;
}

.contents .bottom {
  bottom: 0;
  -o-object-position: bottom;
     object-position: bottom;
}

.contents .banner-wrap {
  margin-top: 8.3vw;
  max-width: 68.75%;
}

.contents .banner-wrap .banner-web {
  width: 100%;
  min-width: 519px;
}

.contents .banner-wrap .banner-mobile {
  display: none;
}

.contents .mileverse-wrap {
  max-width: 900px;
  margin: 120px 20px 0 20px;
  padding: 16px;
  background-color: #cff2a5;
  border-radius: 10px;
}

.contents .mileverse-wrap .inner-wrap {
  padding: 80px;
  border: 1px dotted #ffffff;
  border-radius: 10px;
}

.contents .mileverse-wrap .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.contents .mileverse-wrap .title-wrap .title {
  margin-left: 10px;
  font-size: 28px;
  color: #604244;
}

.contents .mileverse-wrap .mileverse-expl {
  font-size: 24px;
  line-height: 40px;
  word-spacing: -4px;
}

.contents .event-section-wrap {
  position: relative;
  max-width: 900px;
  padding: 82px 90px 90px 90px;
  margin: 0 20px 150px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #604244;
}

.contents .event-section-wrap.init {
  margin: 112px 20px 112px 20px;
}

.contents .event-section-wrap .event-tag {
  position: absolute;
  top: -12px;
  left: -12px;
}

.contents .event-section-wrap .section-title {
  margin-bottom: 53px;
  font-size: 28px;
}

.contents .event-section-wrap .event-title {
  margin-bottom: 14px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contents .event-section-wrap .event-expl {
  margin-bottom: 44px;
  font-size: 24px;
  line-height: 36px;
  word-spacing: -4px;
}

.contents .event-section-wrap .event-expl:last-child {
  margin-bottom: 0;
}

.contents .event-section-wrap .item-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  row-gap: 50px;
  -webkit-column-gap: 33px;
          column-gap: 33px;
}

.contents .event-section-wrap .item-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .event-section-wrap .item-list .item img {
  width: 100%;
  margin-bottom: 16px;
}

.contents .event-section-wrap .item-list .item #booknlife {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.contents .event-section-wrap .item-list .item #booknlife img {
  margin-bottom: 0;
}

.contents .event-section-wrap .item-list .item p {
  font-size: 22px;
  line-height: 30px;
  word-spacing: -4px;
  white-space: nowrap;
}

.contents .event-section-wrap .item-list .item p:last-child {
  margin-top: 5px;
}

.contents .event-section-wrap .item-list .item p.small-text {
  font-size: 20px;
}

.contents .event-section-wrap .mobile-install {
  display: none;
}

.install {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #438761;
  color: #ffffff;
  padding: 80px 0 56px 0;
}

.install .install-contents {
  width: 800px;
  padding: 0 40px;
}

.install .install-contents .install-title {
  margin-bottom: 58px;
  font-size: 24px;
}

.install .install-contents .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.install .install-contents .row .item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.install .install-contents .row .item-wrap button {
  margin-top: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6ca87d;
  color: #2d2d2d;
}

.footer .footer-contents {
  width: 800px;
  padding: 150px 40px 200px 40px;
}

.footer .footer-contents .caution {
  font-size: 24px;
  line-height: 40px;
  color: #f4d151;
}

.footer .footer-contents .footer-title {
  margin: 55px 0 21px 0;
  font-size: 20px;
  line-height: 34px;
}

.footer .footer-contents .footer-expl {
  margin-left: 13px;
  font-size: 18px;
  line-height: 32px;
  list-style-type: "- ";
}

@media (min-width: 1960px) {
  .contents {
    background: no-repeat url("../../../events/img/family/w-bg-01.png");
    background-size: 100% 100%;
  }
  .background {
    display: none;
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
  .contents {
    padding: 0px 20px 30px 20px;
    color: #2d2d2d;
  }
  .contents .banner-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 73%;
    margin-top: 11.1vw;
  }
  .contents .banner-wrap .banner {
    width: 100%;
    margin-top: 0;
  }
  .contents .banner-wrap .banner-web {
    min-width: unset;
  }
  .contents .mileverse-wrap {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    color: #604244;
  }
  .contents .mileverse-wrap .inner-wrap {
    padding: 32px 30px 36px 30px;
  }
  .contents .mileverse-wrap .inner-wrap .title-wrap {
    margin-bottom: 19px;
  }
  .contents .mileverse-wrap .inner-wrap .title-wrap .title {
    font-size: 18px;
  }
  .contents .mileverse-wrap .inner-wrap .mileverse-expl {
    font-size: 15px;
    line-height: 24px;
    word-spacing: -1px;
  }
  .contents .event-section-wrap {
    width: 100%;
    padding: 37px 20px 20px 20px;
    margin: 0;
    color: #2d2d2d;
  }
  .contents .event-section-wrap.init {
    margin: 48px 0;
  }
  .contents .event-section-wrap .event-tag {
    top: -8px;
    left: -8px;
  }
  .contents .event-section-wrap .section-title {
    margin-top: 5px;
    margin-bottom: 27px;
    font-size: 18px;
    color: #604244;
  }
  .contents .event-section-wrap .event-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .contents .event-section-wrap .event-expl {
    margin-bottom: 27px;
    font-size: 15px;
    line-height: 25px;
    word-spacing: -2px;
  }
  .contents .event-section-wrap .event-expl:last-child {
    margin-bottom: 15px;
  }
  .contents .event-section-wrap .item-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  .contents .event-section-wrap .item-list .item img {
    margin-bottom: 8px;
  }
  .contents .event-section-wrap .item-list .item #booknlife {
    margin-bottom: 8px;
  }
  .contents .event-section-wrap .item-list .item #booknlife img {
    margin-bottom: 0;
  }
  .contents .event-section-wrap .item-list .item p {
    font-size: 15px;
    line-height: 20px;
    color: #604244;
  }
  .contents .event-section-wrap .mobile-install {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 35px;
    background-color: #509870;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
  }
  .install {
    display: none;
  }
  .footer {
    padding: 36px 20px 80px 20px;
    background-color: #509870;
    color: #ffffff;
  }
  .footer .footer-contents {
    width: 100%;
    padding: 0;
  }
  .footer .footer-contents .caution {
    font-size: 15px;
    line-height: 25px;
    word-spacing: -1px;
  }
  .footer .footer-contents .caution.web {
    display: none;
  }
  .footer .footer-contents .caution.mobile {
    display: block;
  }
  .footer .footer-contents .footer-title {
    margin: 30px 0 15px 0;
    font-size: 16px;
    line-height: 26px;
  }
  .footer .footer-contents .footer-expl {
    font-size: 15px;
    line-height: 26px;
    word-spacing: 2px;
  }
}

@media (max-width: 415px) {
  .contents {
    background-image: url(../../../events/img/family/m-bg-01.png);
    background-size: 100% 100%;
  }
  .contents .banner-wrap .banner-web {
    display: none;
  }
  .contents .banner-wrap .banner-mobile {
    display: block;
  }
}
