@font-face {
  font-family: GmarketSansBold;
  src: url("../../../assets/font/GmarketSansBold.woff2") format("woff2"), url("../../../assets/font/GmarketSansBold.woff") format("woff");
}

@font-face {
  font-family: GmarketSansMedium;
  src: url("../../../assets/font/GmarketSansMedium.woff2") format("woff2"), url("../../../assets/font/GmarketSansMedium.woff") format("woff");
}

@font-face {
  font-family: NotoSansRegular;
  src: url("../../../assets/font/NotoSansKR-Regular.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Regular.woff") format("woff");
}

@font-face {
  font-family: NotoSansMedium;
  src: url("../../../assets/font/NotoSansKR-Medium.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Medium.woff") format("woff");
}

@font-face {
  font-family: NotoSansBold;
  src: url("../../../assets/font/NotoSansKR-Bold.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Bold.woff") format("woff");
}

@font-face {
  font-family: MFSongHe;
  src: url("../../../assets/font/MFSongHe.woff2") format("woff2"), url("../../../assets/font/MFSongHe.woff") format("woff");
}

@font-face {
  font-family: DangDang;
  src: url("../../../assets/font/Cafe24Dangdanghae.woff2") format("woff2"), url("../assets/font/Cafe24Dangdanghae.woff") format("woff");
}

@font-face {
  font-family: SANGJU Gotgam;
  src: url("../../../assets/font/SANGJUGotgam.ttf") format("truetype");
}

@font-face {
  font-family: NanumSquareR;
  src: url("../../../assets/font/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: NanumSquareB;
  src: url("../../../assets/font/NanumSquareB.woff2") format("woff2"), url("../../../assets/font/NanumSquareB.woff") format("woff");
}

@font-face {
  font-family: NanumSquareEB;
  src: url("../../../assets/font/NanumSquareEB.ttf") format("truetype");
}

.noto-regular {
  font-family: NotoSansRegular;
}

.noto-regular:lang(cn) {
  font-family: MFSongHe;
}

.noto-medium {
  font-family: NotoSansMedium;
}

.noto-medium:lang(cn) {
  font-family: MFSongHe;
}

.noto-bold {
  font-family: NotoSansBold;
}

.noto-bold:lang(cn) {
  font-family: MFSongHe;
}

.gmarket-bold {
  font-family: GmarketSansBold;
}

.dangdang {
  font-family: DangDang;
}

.sangju {
  font-family: SANGJU Gotgam;
}

.nanum-bold {
  font-family: NanumSquareB;
}

.welcome-page {
  position: relative;
  height: 1030px;
  overflow: hidden;
}

.welcome-page-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -232px;
  margin-left: -656px;
}

.welcome-text-sub {
  font-family: GmarketSansMedium;
  font-size: 30px;
  line-height: 45px;
  color: #212121;
}

.welcome-text-sub:lang(cn) {
  font-family: MFSongHe;
}

.welcome-text-main {
  margin-top: 26px;
  color: #212121;
  font-size: 64px;
  line-height: 73px;
  font-family: GmarketSansBold;
}

.welcome-img {
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 50%;
  max-width: 1220px;
  margin: -162px -1232px 0 0;
}

.web-welcome-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.mobile-welcome-btn-wrap {
  display: none;
}

.welcome-down-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px 0px #efefef;
          box-shadow: 0px 0px 5px 0px #efefef;
  cursor: pointer;
}

.welcome-down-btn p {
  color: #656565;
  font-size: 12px;
}

.welcome-down-btn:not(:first-child) {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .welcome-page {
    height: auto;
  }
  .welcome-page-wrap {
    position: relative;
    top: 0;
    left: 0;
    margin: 104px 0 0 0;
    padding: 0 20px;
    line-height: 1;
  }
  .welcome-text-sub {
    font-size: 14px;
    line-height: 19px;
  }
  .welcome-text-main {
    margin-top: 6px;
    font-size: 22px;
    line-height: 32px;
  }
  .welcome-img {
    position: relative;
    top: 0;
    right: 174px;
    width: 670px;
    margin: 24px 0 20px 0;
  }
  .web-welcome-btn-wrap {
    display: none;
  }
  .mobile-welcome-btn-wrap {
    display: block;
  }
  .welcome-down-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 155px;
    height: 40px;
    cursor: pointer;
  }
  .welcome-down-btn:not(:first-child) {
    margin-left: 10px;
  }
}
