@font-face {
  font-family: GmarketSansMedium;
  src: url("../../../assets/font/GmarketSansMedium.woff2") format("woff2"), url("../../../assets/font/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: GmarketSansBold;
  src: url("../../../assets/font/GmarketSansBold.woff2") format("woff2"), url("../../../assets/font/GmarketSansBold.woff") format("woff");
}
@font-face {
  font-family: NotoSansRegular;
  src: url("../../../assets/font/NotoSansKR-Regular.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: NotoSansMedium;
  src: url("../../../assets/font/NotoSansKR-Medium.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
  font-family: NotoSansBold;
  src: url("../../../assets/font/NotoSansKR-Bold.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Bold.woff") format("woff");
}
@font-face {
  font-family: NanumSquareR;
  src: url("../../../assets/font/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: NanumSquareB;
  src: url("../../../assets/font/NanumSquareB.woff2") format("woff2"), url("../../../assets/font/NanumSquareB.woff") format("woff");
}
@font-face {
  font-family: NanumSquareEB;
  src: url("../../../assets/font/NanumSquareEB.ttf") format("truetype");
}
@font-face {
  font-family: MFSongHe;
  src: url("../../../assets/font/MFSongHe.woff2") format("woff2"), url("../../../assets/font/MFSongHe.woff") format("woff");
}
@font-face {
  font-family: DangDang;
  src: url("../../../assets/font/Cafe24Dangdanghae.woff2") format("woff2"), url("../../../assets/font/Cafe24Dangdanghae.woff") format("woff");
}
@font-face {
  font-family: SANGJU Gotgam;
  src: url("../../../assets/font/SANGJUGotgam.ttf") format("truetype");
}
@font-face {
  font-family: Jalnan;
  src: url("../../../assets/font/Jalnan.ttf") format("truetype");
}
@font-face {
  font-family: Jalnan;
  src: url("../../../assets/font/Jalnan.ttf") format("truetype");
}
.gmarket-medium {
  font-family: GmarketSansMedium;
}

.gmarket-bold {
  font-family: GmarketSansBold;
}

.noto-regular {
  font-family: NotoSansRegular;
}
.noto-regular:lang(cn) {
  font-family: MFSongHe;
}

.noto-medium {
  font-family: NotoSansMedium;
}
.noto-medium:lang(cn) {
  font-family: MFSongHe;
}

.noto-bold {
  font-family: NotoSansBold;
}
.noto-bold:lang(cn) {
  font-family: MFSongHe;
}

.nanum-regular {
  font-family: NanumSquareR;
}

.nanum-bold {
  font-family: NanumSquareB;
}

.nanum-extra {
  font-family: NanumSquareEB;
}

.dangdang {
  font-family: DangDang;
}

.sangju {
  font-family: SANGJU Gotgam;
}

.songhe {
  font-family: MFSongHe;
}

.jalnan {
  font-family: Jalnan;
}

.fade-in-box {
  animation: fadein 2s ease-in;
  -moz-animation: fadein 2s ease-in; /* Firefox */
  -webkit-animation: fadein 2s ease-in; /* Safari and Chrome */
  -o-animation: fadein 2s ease-in; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
    background-color: white;
  }
  to {
    opacity: 1;
    background-color: transparent;
  }
}
html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

.main-content {
  flex: 1 0 auto;
}

.contents-init-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contents-total-wrap {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contents-size {
  width: 100%;
  max-width: 1300px;
}

.contents-title-size {
  width: 290px;
}

.contents-article-size {
  flex: 1;
}

.contents-title {
  color: #212121;
  font-size: 28px;
  font-family: GmarketSansBold;
  line-height: 36px;
}
.contents-title:lang(cn) {
  font-family: MFSongHe;
}
.contents-title.sub {
  color: #212121;
  font-size: 24px;
  font-family: NotoSansBold;
  margin-top: 6px;
  line-height: 28px;
}

.contents-title.mobile,
.contents-img.mobile {
  display: none;
}

.contents-text {
  font-family: NotoSansMedium;
  color: #212121;
}
.contents-text:lang(cn) {
  font-family: MFSongHe;
}

@media (max-width: 767px) {
  .contents-total-wrap {
    padding: 0 20px;
    margin-top: 30px;
  }
  .contents-init-wrap {
    flex-direction: column;
  }
  .contents-title {
    font-size: 21px;
  }
  .contents-title.sub {
    font-size: 15px;
    line-height: 15px;
  }
  .contents-title.mobile {
    display: block;
    line-height: 21px;
  }
  .contents-title.web,
  .contents-img.web {
    display: none;
  }
  .contents-img.mobile {
    display: block;
  }
}
.header-wrap {
  z-index: 2;
  position: absolute;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: GmarketSansMedium;
  color: #ffffff;
  line-height: 100px;
}

.header-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
}

.header-mobile {
  display: none;
}

.header-wrap.bl {
  color: #212121;
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
}

.main-page-header .header-wrap {
  color: #212121;
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
}

.header-wrap.bl a.category-text:visited,
.main-page-header .header-wrap a.category-text:visited {
  color: #212121;
}

.bl .header_logo,
.main-page-header .header_logo {
  background-image: url(../../../assets/img/mv_logo_bl.png);
}

.main-page-header .menu_logo {
  background-image: url(../../../assets/img/hamberger_bl.png);
}

.header_logo {
  position: absolute;
  top: 50%;
  width: 236px;
  height: 24px;
  transform: translateY(-50%);
  background-image: url(../../../assets/img/mv_logo.png);
  background-repeat: no-repeat;
  background-size: 80%;
}

.header-wrap .nav {
  display: flex;
}

.header-wrap .nav .category {
  position: relative;
  text-align: center;
}

.category:not(:first-child) {
  margin-left: 50px;
}

.category .sub-menu {
  margin: 40px 14px;
  line-height: 21px;
  text-align: left;
}

.category a {
  font-size: 18px;
}

.category a.active {
  color: rebeccapurple;
}

.active-border {
  display: none;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  bottom: -2px;
}

.bl .active-border {
  background-color: #212121;
}

.category:hover > .sub-menu-wrap {
  display: block;
}

.half-circle {
  position: absolute;
  top: -16px;
  left: 50px;
  width: 30px;
  height: 15px;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  border: 1px solid #dbdbdb;
  border-bottom: 0;
  background-color: #ffffff;
}

.sub-menu-wrap {
  display: none;
  position: absolute;
  left: 50%;
  width: 128px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  transform: translateX(-50%);
}

.sub-menu a {
  color: #9e9e9e;
  font-size: 16px;
}

.sub-menu a:hover {
  color: #212121;
}

.category .sub-menu li:not(:first-child) {
  margin-top: 18px;
}

.lang_nav {
  display: flex;
  margin-left: 60px;
  font-size: 14px;
}

.lang_nav li:not(:first-child) {
  margin-left: 12px;
}

@media (max-width: 767px) {
  .header-web {
    display: none;
  }
  .header-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 67px;
    padding: 0 20px;
    border-bottom: #ffffff;
  }
  .header_logo.mobile {
    position: relative;
    height: 14px;
    background-size: 136px;
    transform: none;
  }
  .menu_logo {
    width: 26px;
    height: 20px;
    background: url(../../../assets/img/hamberger.png);
    transform: translateX(58px);
  }
  .bl .menu_logo {
    background-image: url(../../../assets/img/hamberger_bl.png);
  }
}
@media (max-width: 767px) {
  .mobile-mg-16 {
    margin-top: 16px;
  }
  .mobile-menu-screen {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    transition: all ease 0.5s 0s;
  }
  .mobile-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 84px;
  }
  .mobile-menu-screen.active {
    left: 0;
  }
  .mobile-menu-wrap {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
  }
  .mobile-menu-wrap:not(:last-child) {
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef;
  }
  .mobile-menu-wrap:not(:first-child) {
    margin-top: 26px;
  }
  .mobile-menu-wrap .level1 {
    width: 130px;
    font-size: 16px;
    line-height: 21px;
    color: #212121;
    font-family: GmarketSansMedium;
  }
  .mobile-menu-wrap .level2 {
    font-size: 14px;
    line-height: 19px;
    font-family: GmarketSansMedium;
  }
  .mobile-menu-wrap .level2 a {
    color: #616161;
  }
  .mobile-menu-wrap .level2:not(:first-child) {
    margin-top: 16px;
  }
  .lang_nav {
    font-size: 13px;
    line-height: 17px;
    margin-left: 0;
  }
  .header-mobile a {
    color: #212121;
  }
  .mobile-menu-bottom {
    line-height: 1;
    padding: 0 20px 32px 20px;
    text-align: right;
  }
  .mobile-menu-bottom img {
    width: 136px;
  }
}
.banner-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 560px;
}

.banner-text-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin-top: 110px;
}

.banner-title {
  font-size: 50px;
  color: #ffffff;
  font-family: GmarketSansBold;
}

.banner-sub-title {
  font-size: 22px;
  color: #ffffff;
  margin-top: 12px;
  font-family: NotoSansMedium;
  line-height: 29px;
}
.banner-sub-title.mobile {
  display: none;
}
.banner-sub-title:lang(cn) {
  font-family: MFSongHe;
}

@media (max-width: 767px) {
  .banner-bg {
    height: 310px;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
  }
  .banner-text-wrap {
    max-width: unset;
    justify-content: flex-end;
    margin-bottom: 64px;
  }
  .banner-title {
    font-size: 30px;
  }
  .banner-sub-title {
    font-size: 16px;
    line-height: 20px;
  }
  .banner-sub-title.web {
    display: none;
  }
  .banner-sub-title.mobile {
    display: block;
  }
}
#footers {
  flex-shrink: 0;
}

.footer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3c007c;
  color: #ffffff;
  font-size: 14px;
}

.foorter-web {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.footer-mobile {
  display: none;
  width: 100%;
  padding: 20px 20px 40px 20px;
}

.footer-wrap a {
  font-size: 16px;
  text-decoration: none;
}

.footer-wrap a:visited {
  color: #ffffff;
}

.footer-wrap .icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .foorter-web {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
  .footer-wrap a {
    font-size: 13px;
  }
  .footer-wrap .icon {
    width: 25px;
    height: 24px;
  }
}
table.commonFrame {
  text-align: center;
}

table.commonFrame tr th {
  padding: 8px 0;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  font-family: NotoSansMedium;
}

table.commonFrame:lang(cn) tr th {
  font-family: MFSongHe;
}

table.commonFrame tr td {
  vertical-align: middle;
  padding: 8px 0;
  border-bottom: 1px solid #dbdbdb;
  font-family: NotoSansRegular;
  line-height: 21px;
  font-size: 15px;
}

table.commonFrame:lang(cn) tr td {
  font-family: MFSongHe;
}

table.commonFrame tr th:not(:last-child),
table.commonFrame tr td:not(:last-child),
table.commonFrame .br {
  border-right: 1px solid #dbdbdb;
}

@media (max-width: 767px) {
  table.commonFrame tr th,
  table.commonFrame tr td {
    font-size: 10px;
    line-height: 16px;
  }
}
.welcome-page {
  position: relative;
  height: 1030px;
  overflow: hidden;
}

.welcome-page-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -232px;
  margin-left: -656px;
}

.welcome-text-sub {
  font-family: GmarketSansMedium;
  font-size: 30px;
  line-height: 45px;
  color: #212121;
}
.welcome-text-sub:lang(cn) {
  font-family: MFSongHe;
}

.welcome-text-main {
  margin-top: 26px;
  color: #212121;
  font-size: 64px;
  line-height: 73px;
  font-family: GmarketSansBold;
}

.welcome-img {
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 50%;
  max-width: 1220px;
  margin: -162px -1232px 0 0;
}

.web-welcome-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.mobile-welcome-btn-wrap {
  display: none;
}

.welcome-down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px #efefef;
  cursor: pointer;
}
.welcome-down-btn p {
  color: #656565;
  font-size: 12px;
}
.welcome-down-btn:not(:first-child) {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .welcome-page {
    height: auto;
  }
  .welcome-page-wrap {
    position: relative;
    top: 0;
    left: 0;
    margin: 104px 0 0 0;
    padding: 0 20px;
    line-height: 1;
  }
  .welcome-text-sub {
    font-size: 14px;
    line-height: 19px;
  }
  .welcome-text-main {
    margin-top: 6px;
    font-size: 22px;
    line-height: 32px;
  }
  .welcome-img {
    position: relative;
    top: 0;
    right: 174px;
    width: 670px;
    margin: 24px 0 20px 0;
  }
  .web-welcome-btn-wrap {
    display: none;
  }
  .mobile-welcome-btn-wrap {
    display: block;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  .welcome-down-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 40px;
    cursor: pointer;
  }
  .welcome-down-btn:not(:first-child) {
    margin-left: 10px;
  }
}
.mileverse .web {
  display: block;
}

.mileverse .mobile {
  display: none;
}

.mileverse .contents-size {
  margin: 0 20px;
}

.mileverse > section:first-child {
  background-image: url("../../../assets/img/company_bg.png");
}

.mileverse main section:first-child .contents-article-size p:first-child {
  font-size: 24px;
}
.mileverse main section:first-child .contents-article-size p:last-child {
  margin-top: 6px;
  font-size: 20px;
  line-height: 29px;
}
.mileverse main section:first-child + p {
  display: block;
  margin-top: 56px;
  margin-bottom: 214px;
  text-align: right;
  font-size: 20px;
}

.mileverse main section ~ img {
  width: 100%;
  max-width: 1300px;
}

.mileverse main section:nth-of-type(2) .section-title {
  font-size: 28px;
  line-height: 32px;
}
.mileverse main section:nth-of-type(2) .section-title.mobile {
  display: none;
}

.mileverse main section:nth-of-type(2) article {
  display: flex;
  flex-direction: row;
}
.mileverse main section:nth-of-type(2) article:first-of-type .history-years, .mileverse main section:nth-of-type(2) article:first-of-type .history-expl {
  padding-top: 160px;
}
.mileverse main section:nth-of-type(2) article:last-of-type .history-years, .mileverse main section:nth-of-type(2) article:last-of-type .history-expl {
  padding-bottom: 160px;
}

.mileverse main section:nth-of-type(2) article .history-years {
  display: flex;
  justify-content: flex-end;
  width: 394px;
  border-right: 1px dotted #9e9e9e;
  padding: 0 26px 82px 0;
}
.mileverse main section:nth-of-type(2) article .history-years.title {
  justify-content: space-between;
}
.mileverse main section:nth-of-type(2) article .history-years p {
  font-size: 28px;
  line-height: 32px;
  margin-right: 28px;
}

.mileverse main section:nth-of-type(2) article .history-expl {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-bottom: 82px;
}
.mileverse main section:nth-of-type(2) article .history-expl img {
  height: 20px;
  margin-left: -10px;
  margin-right: 82px;
}
.mileverse main section:nth-of-type(2) article .history-expl img.short {
  width: 117px;
  height: 12px;
  margin-top: 4px;
  margin-right: 87px;
  margin-left: -5px;
}
.mileverse main section:nth-of-type(2) article .history-expl img.en {
  margin-right: 114px;
  margin-top: 5px;
}
.mileverse main section:nth-of-type(2) article .history-expl ul,
.mileverse main section:nth-of-type(2) article .history-expl li {
  margin-top: -4px;
  font-size: 20px;
  line-height: 44px;
  font-family: NotoSansMedium;
}
.mileverse main section:nth-of-type(2) article .history-expl ul::marker,
.mileverse main section:nth-of-type(2) article .history-expl li::marker {
  color: #9e9e9e;
}
.mileverse main section:nth-of-type(2) article .history-expl ul.sub,
.mileverse main section:nth-of-type(2) article .history-expl li.sub {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
}
.mileverse main section:nth-of-type(2) article .history-expl ul.one-line,
.mileverse main section:nth-of-type(2) article .history-expl li.one-line {
  line-height: unset;
}
.mileverse main section:nth-of-type(2) article .history-expl ul.two-line,
.mileverse main section:nth-of-type(2) article .history-expl li.two-line {
  line-height: 25px;
  margin-bottom: 15px;
  margin-top: 1px;
}
.mileverse main section:nth-of-type(2) article .history-expl li.first-q {
  list-style-type: "1Q   ";
}
.mileverse main section:nth-of-type(2) article .history-expl li.second-q {
  list-style-type: "2Q   ";
}
.mileverse main section:nth-of-type(2) article .history-expl li.third-q {
  list-style-type: "3Q   ";
}
.mileverse main section:nth-of-type(2) article .history-expl li.fourth-q {
  list-style-type: "4Q   ";
}

.mileverse main section:nth-of-type(3) article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.16);
  padding: 30px 0;
  max-width: 793px;
}
.mileverse main section:nth-of-type(3) article:last-child {
  margin-top: 78px;
}
.mileverse main section:nth-of-type(3) article p {
  font-size: 18px;
  line-height: 26px;
}
.mileverse main section:nth-of-type(3) article p:last-child {
  font-size: 17px;
  line-height: 25px;
  margin-top: 14px;
  font-family: "NotoSansMedium";
}

.mileverse main section:nth-of-type(4) {
  margin-top: 220px;
  margin-bottom: 180px;
}
.mileverse main section:nth-of-type(4) article img {
  margin-top: 68px;
  width: 100%;
  max-width: 1022px;
}
.mileverse main section:nth-of-type(4) article p {
  font-size: 24px;
  line-height: 35px;
}

@media (max-width: 767px) {
  .mileverse .web {
    display: none;
  }
  .mileverse .mobile {
    display: block;
  }
  .mileverse > section:first-child {
    background-position-y: 100%;
    background-position-x: 43%;
  }
  .mileverse .contents-size {
    margin: 0;
  }
  .mileverse main section:first-child .contents-article-size p:first-child {
    font-size: 15px;
    line-height: 21px;
    margin-top: 16px;
  }
  .mileverse main section:first-child .contents-article-size p:last-child {
    font-size: 14px;
    line-height: 20px;
  }
  .mileverse main section:first-child + p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .mileverse main section:nth-of-type(2) .section-title.mobile {
    display: block;
    margin-top: 30px;
  }
  .mileverse main section:nth-of-type(2) .section-title.web {
    display: none;
  }
  .mileverse main section:nth-of-type(2) article:first-of-type .history-years, .mileverse main section:nth-of-type(2) article:first-of-type .history-expl {
    padding-top: 40px;
  }
  .mileverse main section:nth-of-type(2) article:last-of-type .history-years, .mileverse main section:nth-of-type(2) article:last-of-type .history-expl {
    padding-bottom: 71px;
    margin-bottom: 10px;
  }
  .mileverse main section:nth-of-type(2) article:first-of-type .history-years.title {
    justify-content: flex-end;
  }
  .mileverse main section:nth-of-type(2) article .history-years {
    width: 46px;
    padding-bottom: 26px;
  }
  .mileverse main section:nth-of-type(2) article .history-years p {
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px;
    margin-right: 0;
  }
  .mileverse main section:nth-of-type(2) article .history-expl {
    padding-bottom: 26px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl img {
    width: 44px;
    margin-right: 42px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl img.short {
    width: 41px;
    height: 16px;
    margin-right: 45px;
    margin-left: -8px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl img.en {
    margin-right: 67px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl ul,
  .mileverse main section:nth-of-type(2) article .history-expl li {
    margin-top: 1px;
    font-size: 13px;
    line-height: 18px;
    font-family: NotoSansRegular;
  }
  .mileverse main section:nth-of-type(2) article .history-expl ul.sub,
  .mileverse main section:nth-of-type(2) article .history-expl li.sub {
    margin-top: -1px;
    margin-bottom: 0px;
    font-size: 11px;
    line-height: 15px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl ul.two-line,
  .mileverse main section:nth-of-type(2) article .history-expl li.two-line {
    line-height: 14px;
    margin-top: 2px;
    margin-bottom: 8px;
  }
  .mileverse main section:nth-of-type(3) div:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 26px;
    border-bottom: 1px solid #efefef;
  }
  .mileverse main section:nth-of-type(3) article {
    flex-direction: column-reverse;
    padding: 18px;
    flex: 1;
    margin-right: 9px;
  }
  .mileverse main section:nth-of-type(3) article:last-child {
    margin-left: 9px;
    margin-top: 0;
  }
  .mileverse main section:nth-of-type(3) article img {
    margin-left: 0;
    width: 100%;
  }
  .mileverse main section:nth-of-type(3) article p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
  }
  .mileverse main section:nth-of-type(3) article p:last-child {
    font-size: 9px;
    line-height: 13px;
    font-family: "NotoSansRegular";
  }
  .mileverse main section:nth-of-type(4) {
    margin-top: 18px;
    margin-bottom: 52px;
  }
  .mileverse main section:nth-of-type(4) article img {
    margin-top: 16px;
  }
  .mileverse main section:nth-of-type(4) article p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 19px;
  }
}
.business .contents-init-wrap:not(:first-child) {
  padding-top: 100px;
}
.business .contents-init-wrap:not(:last-child) {
  padding-bottom: 120px;
  border-bottom: 1px solid #efefef;
}
.business .contents-init-wrap:last-child {
  margin-bottom: 120px;
}

.business .contents-header {
  color: #212121;
  font-family: NotoSansBold;
  font-size: 24px;
}
.business .contents-header:lang(cn) {
  font-family: MFSongHe;
}

.business .contents-text {
  margin-top: 7px;
  font-size: 20px;
  line-height: 29px;
  font-family: NotoSansMedium;
}
.business .contents-text:lang(cn) {
  font-family: MFSongHe;
}

.business .contents-img {
  width: 100%;
  margin-top: 70px;
}

.business .video {
  width: 100%;
  max-width: 1046px;
}

@media (max-width: 767px) {
  .business .contents-header {
    margin-top: 16px;
    font-size: 15px;
    line-height: 21px;
  }
  .business .contents-text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .business .contents-img,
  .business .contents-init-wrap:not(:first-child) {
    margin-top: 26px;
    padding-top: 0;
  }
  .business .contents-init-wrap:not(:last-child) {
    padding-bottom: 26px;
  }
  .business .contents-init-wrap:last-child {
    margin-bottom: 50px;
  }
  .business .video {
    transform: scale(1.4);
  }
  .business .vodeo-wrap {
    overflow: hidden;
    margin: 26px 0;
  }
}
.apptech {
  word-break: keep-all;
}

.apptech main {
  padding: 0;
  background-image: url("../../../assets/img/appGuide/appGuide-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.apptech section {
  width: calc(100% - 40px);
  max-width: 1300px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apptech article {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0 40px 0;
}
.apptech article:first-child {
  padding-top: 0;
}
.apptech article:last-child {
  padding-bottom: 140px;
}
.apptech article .pt-0 {
  padding-top: 0;
}

.apptech article .contents-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 27px;
}
.apptech article .contents-title.web {
  font-size: 28px;
  line-height: 32px;
}

.apptech article .contents-expl-size {
  flex: 1;
}

.apptech article .contents-expl-size .contents-text {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 80px;
}
.apptech article .contents-expl-size .contents-text.web:first-child {
  font-size: 20px;
  line-height: 29px;
}
.apptech article .contents-expl-size .contents-text.mobile {
  display: none;
}
.apptech article .contents-expl-size .contents-text:lang(en) {
  line-height: 30px;
  word-spacing: -0.2px;
  margin-bottom: 100px;
}
.apptech article .contents-expl-size .contents-text:lang(cn) {
  word-break: break-word;
}

.apptech article .contents-expl-size .app-img {
  width: 100%;
}
.apptech article .contents-expl-size .app-img.mobile {
  display: none;
}

.apptech article .contents-expl-size .btn-wrap {
  margin-top: 38px;
  margin-right: 34px;
  text-align: right;
}
.apptech article .contents-expl-size .btn-wrap button {
  flex: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.apptech article .contents-expl-size .btn-wrap button img {
  width: 100%;
}

.apptech .divider {
  width: 100%;
  height: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #efefef;
}
.apptech .divider.mobile {
  display: none;
}

@media (max-width: 767px) {
  .apptech main {
    background: transparent;
  }
  .apptech .bg_tech {
    background-position-y: 26%;
    background-position-x: 63%;
  }
  .apptech article {
    border: none;
    padding: 0;
  }
  .apptech article:first-child {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
  .apptech article:last-child {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .apptech article .contents-title {
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 20px;
  }
  .apptech article .contents-title.mobile {
    margin-bottom: 23px;
    font-size: 21px;
    line-height: 24px;
  }
  .apptech article .contents-title:lang(en), .apptech article .contents-title:lang(cn) {
    margin-top: 4px;
  }
  .apptech article .contents-expl-size .contents-text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .apptech article .contents-expl-size .contents-text.web {
    display: none;
  }
  .apptech article .contents-expl-size .contents-text.mobile {
    display: block;
  }
  .apptech article .contents-expl-size .contents-text:lang(en) {
    font-size: 13px;
    line-height: 18px;
    word-spacing: 1px;
    margin-bottom: 10px;
  }
  .apptech article .contents-expl-size .contents-text.app-guide {
    word-spacing: -1px;
  }
  .apptech article .contents-expl-size .app-img {
    width: 100%;
  }
  .apptech article .contents-expl-size .app-img.web {
    display: none;
  }
  .apptech article .contents-expl-size .app-img.mobile {
    display: block;
  }
  .apptech article .contents-expl-size .btn-wrap {
    display: flex;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .apptech .divider.mobile {
    display: block;
  }
}
.tech .contents-init-wrap:not(:first-child) {
  padding-top: 100px;
}
.tech .contents-init-wrap:not(:last-child) {
  padding-bottom: 120px;
  border-bottom: 1px solid #efefef;
}
.tech .contents-init-wrap:last-child {
  margin-bottom: 120px;
}

.tech .article-wrap {
  margin-top: 70px;
}
.tech .article-wrap .eco-wrap {
  display: flex;
  justify-content: space-between;
}
.tech .article-wrap .eco-wrap .eco-item {
  display: flex;
  flex-direction: column;
}
.tech .article-wrap .eco-wrap .eco-item .token-wrap {
  display: flex;
  align-items: flex-start;
  height: 180px;
}
.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-text-wrap {
  margin-left: 24px;
  font-size: 15px;
}
.tech .article-wrap .eco-wrap .eco-item .token-wrap .token {
  width: 100%;
  max-width: 100px;
}
.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-header {
  color: #212121;
  font-size: 18px;
  font-family: NotoSansBold;
  line-height: 30px;
}
.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-header:lang(cn) {
  font-family: MFSongHe;
}
.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-expl {
  color: #212121;
  font-size: 18px;
  font-family: NotoSansRegular;
  line-height: 30px;
}
.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-expl:lang(cn) {
  font-family: MFSongHe;
}
.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-expl.cn {
  font-size: 16px;
}
.tech .article-wrap .eco-wrap .eco-item .token-wrap .token-expl.en {
  font-size: 14px;
}

.token-table-wrap {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.tech .contents-text {
  font-size: 20px;
  line-height: 29px;
}

.tech .corp-card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  gap: 8px;
}

.tech .franch-card-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 8px;
}

.tech .franch-card {
  width: 100%;
  max-width: 834px;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  color: #212121;
  font-size: 20px;
  font-family: NotoSansRegular;
}
.tech .franch-card:lang(cn) {
  font-family: MFSongHe;
}

.tech .corp-card {
  color: #212121;
  width: 414px;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  font-size: 20px;
  font-family: NotoSansRegular;
}
.tech .corp-card:lang(cn) {
  font-family: MFSongHe;
}

.tech .token-dist-wrap {
  background-color: #f9f9f9;
  padding: 100px 0 120px 0;
}
.tech .token-dist-wrap.web {
  display: block;
}
.tech .token-dist-wrap p {
  font-size: 28px;
  color: "#212121";
  font-family: GmarketSansBold;
}

.tech .contents-init-wrap.mobile-token-dis-wrap {
  display: none;
}

.tech .token-dist-contnets-size {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .tech .contents-text {
    font-size: 14px;
    line-height: 21px;
  }
  .tech .article-wrap {
    margin-top: 26px;
  }
  .tech .contents-init-wrap:not(:last-child) {
    padding-bottom: 26px;
  }
  .tech .contents-init-wrap:not(:first-child) {
    padding-top: 26px;
  }
  .tech .contents-init-wrap:last-child {
    margin-bottom: 50px;
  }
  .tech .contents-init-wrap.mobile-token-dis-wrap {
    display: block;
  }
  .tech .article-wrap .eco-wrap {
    flex-direction: column;
    gap: 36px 0;
  }
  .tech .article-wrap .eco-wrap .eco-item .token-wrap .token-header {
    font-size: 12px;
    line-height: 20px;
  }
  .tech .article-wrap .eco-wrap .eco-item .token-wrap .token-expl {
    font-size: 11px;
    line-height: 20px;
  }
  .tech .article-wrap .eco-wrap .eco-item .token-wrap .token-expl.cn, .tech .article-wrap .eco-wrap .eco-item .token-wrap .token-expl.en {
    font-size: 11px;
  }
  .token-table-wrap {
    margin-top: 21px;
  }
  .tech .franch-card {
    font-size: 15px;
    line-height: 24px;
    font-family: NotoSansMedium;
    padding: 14px 18px;
    width: auto;
  }
  .tech .corp-card {
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    font-family: NotoSansMedium;
    padding: 14px 18px;
  }
  .tech .franch-card-wrap,
  .tech .corp-card-wrap {
    margin-top: 16px;
  }
  .tech .token-dist-wrap.web {
    display: none;
  }
}
.media .refer-total-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.media .refer-total-wrap img {
  width: 100%;
  max-width: 306px;
}

.media .news-total-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 73px;
  gap: 18px 16px;
}

.media .refer-card:first-child > img {
  border: 1px solid #aeafaf;
}

.media .refer-header {
  margin-top: 34px;
  color: #212121;
  font-size: 20px;
  font-family: NotoSansBold;
}
.media .refer-header:lang(cn) {
  font-family: MFSongHe;
}

.media .refer-expl {
  width: 300px;
  margin-top: 10px;
  color: #212121;
  font-size: 18px;
  line-height: 26px;
  font-family: NotoSansMedium;
}
.media .refer-expl:lang(cn) {
  font-family: MFSongHe;
}

.media .contents-init-wrap:not(:first-child) {
  padding-top: 100px;
}
.media .contents-init-wrap:not(:last-child) {
  padding-bottom: 120px;
  border-bottom: 1px solid #efefef;
}
.media .contents-init-wrap:last-child {
  margin-bottom: 120px;
}

.media .news-wrap {
  width: 264px;
  height: 218px;
  padding: 40px 30px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}

.media .news-header {
  height: 64px;
  font-size: 20px;
  line-height: 32px;
  font-family: NotoSansBold;
}

.media .news-date {
  margin-top: 20px;
  color: #616161;
  font-size: 16px;
  font-family: NotoSansRegular;
}

.media .news-dash {
  width: 56px;
  height: 2px;
  margin-top: 16px;
  background-color: rgba(60, 0, 124, 0.4);
}

.media .news-contents {
  margin-top: 26px;
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 26px;
  font-family: NotoSansRegular;
}

.partner .contents-init-wrap:not(:first-child) {
  margin-top: 130px;
}
.partner .contents-init-wrap:last-child {
  margin-bottom: 162px;
}

.partner .partener-total-wrap {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
}

.partner .parnter-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 166px;
  border: 1px solid #efefef;
}

.partner .logo {
  width: 76%;
}

.partner .logo-ddo {
  width: 50%;
}

.parnter .logo-small {
  width: 44%;
}

@media (max-width: 767px) {
  .bg_media {
    background-position-x: 68%;
  }
  .media .refer-total-wrap {
    margin: 16px 0 0 0;
    gap: 0;
  }
  .media .refer-total-wrap img {
    max-width: unset;
  }
  .media .refer-card:not(:first-child) {
    margin-top: 50px;
  }
  .media .refer-header {
    margin-top: 16px;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
  }
  .media .refer-expl {
    width: auto;
    margin-top: 6px;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
  }
  .media .news-total-wrap {
    margin: 16px 0 0 0;
    gap: 0px;
  }
  .media .news-wrap {
    width: 100%;
  }
  .media .news-wrap:not(:first-child) {
    margin-top: 20px;
  }
  .media .news-header {
    font-size: 18px;
    line-height: 26px;
  }
  .media .news-date {
    font-size: 14px;
  }
  .media .news-contents {
    font-size: 14px;
    line-height: 22px;
  }
  .media .contents-init-wrap:not(:last-child) {
    padding-bottom: 28px;
  }
  .media .contents-init-wrap:not(:first-child) {
    padding-top: 26px;
  }
  .media .contents-init-wrap:last-child {
    margin-bottom: 50px;
  }
  .partner .parnter-wrap {
    width: 48%;
    height: 110px;
  }
  .partner .contents-init-wrap:not(:first-child) {
    margin-top: 50px;
  }
  .partner .contents-init-wrap:last-child {
    margin-bottom: 50px;
  }
  .partner .partener-total-wrap {
    margin-top: 16px;
  }
  .partner .contents-title {
    font-size: 18px;
    font-family: GmarketSansMedium;
  }
}
.contact .contents-init-wrap {
  flex-direction: column;
}

.contact .common-input {
  width: 100%;
  padding: 10px 16px;
  font-family: NotoSansMedium;
  font-size: 20px;
  border: 1px solid #dbdbdb;
}
.contact .common-input:lang(cn) {
  font-family: MFSongHe;
}

.contact .common-input-wrap {
  display: flex;
  width: 100%;
}
.contact .common-input-wrap.name-mail {
  gap: 20px;
}
.contact .common-input-wrap:last-child {
  justify-content: center;
  margin-top: 0 !important;
  padding-top: 50px;
  padding-bottom: 120px;
}
.contact .common-input-wrap:not(:first-child) {
  margin-top: 20px;
}

.contact .common-input:active,
:focus-visible {
  outline: none;
}

.contact .fileTxtWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 640px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid #dbdbdb;
  color: #9e9e9e;
  font-size: 20px;
  font-family: NotoSansMedium;
}
.contact .fileTxtWrap:lang(cn) {
  font-family: MFSongHe;
}

.contact #fileBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 50px;
  margin-left: 20px;
  background-color: #dbdbdb;
  color: #757575;
  border: 1px solid #dbdbdb;
  font-size: 20px;
  font-family: NotoSansMedium;
  cursor: pointer;
}
.contact #fileBtn:lang(cn) {
  font-family: MFSongHe;
}
.contact #send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 60px;
  background-color: #3c007c;
  color: #ffffff;
  font-size: 20px;
  font-family: NotoSansMedium;
  cursor: pointer;
}
.contact #send:lang(cn) {
  font-family: MFSongHe;
}

@media (max-width: 767px) {
  .bg_contact {
    background-position-x: 66%;
  }
  .contact .common-input {
    font-size: 16px;
  }
  .contact .common-input-wrap.name-mail {
    gap: 16px;
  }
  .contact .common-input-wrap:not(:first-child) {
    margin-top: 16px;
  }
  .contact .common-input-wrap:last-child {
    justify-content: center;
    margin-top: 0 !important;
    padding-top: 16px;
    padding-bottom: 50px;
  }
  .contact .fileTxtWrap {
    font-size: 16px;
    height: 40px;
  }
  .contact #fileBtn {
    width: 100%;
    height: 40px;
    margin-left: 16px;
    font-size: 16px;
  }
  .contact #send {
    height: 40px;
    font-size: 16px;
  }
}
.privacy {
  word-break: keep-all;
}

.privacy .contents-total-wrap {
  flex-direction: column;
  align-items: center;
}

.privacy .contents-size {
  max-width: 1300px;
  width: auto;
  padding: 0 20px;
}

.privacy .contents-init-wrap {
  flex-direction: column;
}

.privacy .privacy-header {
  color: #212121;
  font-size: 28px;
  line-height: 37px;
  font-family: GmarketSansBold;
}

.privacy .privacy-expl {
  font-size: 20px;
  color: #212121;
  line-height: 29px;
  font-family: NotoSansMedium;
}

.privacy .privacy-area-wrap {
  background-color: #f9f9f9;
  padding: 40px 20px 50px 20px;
  max-width: 1300px;
  margin-top: 40px;
  margin-bottom: 90px;
}
.privacy .privacy-area-wrap .title {
  font-size: 20px;
  font-family: NotoSansBold;
  color: #212121;
  line-height: 29px;
}
.privacy .privacy-area-wrap .title:not(:first-child) {
  margin-top: 30px;
}
.privacy .privacy-area-wrap .contents {
  font-size: 16px;
  font-family: NotoSansRegular;
  color: #212121;
  line-height: 30px;
}

.privacy a {
  color: black;
  font-weight: bold;
}

.privacy .commonFrame {
  width: 100%;
  min-width: 100%;
  max-width: 1100px;
  margin: 10px 0;
}
.privacy .commonFrame th {
  vertical-align: middle;
}

@media (max-width: 767px) {
  .privacy .banner-text-wrap {
    margin-bottom: 100px;
  }
  .privacy .contents-total-wrap {
    padding: 0;
  }
  .privacy .contents-size {
    width: unset;
  }
  .privacy .privacy-header {
    font-size: 21px;
  }
  .privacy .privacy-expl {
    font-size: 14px;
    line-height: 24px;
  }
  .privacy .privacy-area-wrap {
    padding: 20px;
    margin-bottom: 50px;
    width: auto;
  }
  .privacy .privacy-area-wrap .title,
  .privacy .privacy-area-wrap .contents {
    font-size: 15px;
    line-height: 27px;
  }
}
.company {
  word-break: keep-all;
  margin: 20px;
  width: unset;
  height: unset;
}

.company h3 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 30px;
}

.company h3.sub {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
}

.company table {
  width: 100%;
  font-size: 14px;
  letter-spacing: -0.42px;
  line-height: 28px;
  border: 1px solid #424242;
  border-bottom: 0 none;
  text-align: center;
}

.company table tr {
  border-bottom: 1px solid #424242;
}

.company table tr th {
  border-right: 1px solid #424242;
}

.company table tr th,
.company table tr td {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}