@font-face {
  font-family: GmarketSansMedium;
  src: url("../../../assets/font/GmarketSansMedium.woff2") format("woff2"), url("../../../assets/font/GmarketSansMedium.woff") format("woff");
}

@font-face {
  font-family: GmarketSansBold;
  src: url("../../../assets/font/GmarketSansBold.woff2") format("woff2"), url("../../../assets/font/GmarketSansBold.woff") format("woff");
}

@font-face {
  font-family: NotoSansRegular;
  src: url("../../../assets/font/NotoSansKR-Regular.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Regular.woff") format("woff");
}

@font-face {
  font-family: NotoSansMedium;
  src: url("../../../assets/font/NotoSansKR-Medium.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Medium.woff") format("woff");
}

@font-face {
  font-family: NotoSansBold;
  src: url("../../../assets/font/NotoSansKR-Bold.woff2") format("woff2"), url("../../../assets/font/NotoSansKR-Bold.woff") format("woff");
}

@font-face {
  font-family: NanumSquareR;
  src: url("../../../assets/font/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: NanumSquareB;
  src: url("../../../assets/font/NanumSquareB.woff2") format("woff2"), url("../../../assets/font/NanumSquareB.woff") format("woff");
}

@font-face {
  font-family: NanumSquareEB;
  src: url("../../../assets/font/NanumSquareEB.ttf") format("truetype");
}

@font-face {
  font-family: MFSongHe;
  src: url("../../../assets/font/MFSongHe.woff2") format("woff2"), url("../../../assets/font/MFSongHe.woff") format("woff");
}

@font-face {
  font-family: DangDang;
  src: url("../../../assets/font/Cafe24Dangdanghae.woff2") format("woff2"), url("../assets/font/Cafe24Dangdanghae.woff") format("woff");
}

@font-face {
  font-family: SANGJU Gotgam;
  src: url("../../../assets/font/SANGJUGotgam.ttf") format("truetype");
}

.gmarket-medium {
  font-family: GmarketSansMedium;
}

.gmarket-bold {
  font-family: GmarketSansBold;
}

.noto-regular {
  font-family: NotoSansRegular;
}

.noto-regular:lang(cn) {
  font-family: MFSongHe;
}

.noto-medium {
  font-family: NotoSansMedium;
}

.noto-medium:lang(cn) {
  font-family: MFSongHe;
}

.noto-bold {
  font-family: NotoSansBold;
}

.noto-bold:lang(cn) {
  font-family: MFSongHe;
}

.nanum-regular {
  font-family: NanumSquareR;
}

.nanum-bold {
  font-family: NanumSquareB;
}

.nanum-extra {
  font-family: NanumSquareEB;
}

.dangdang {
  font-family: DangDang;
}

.sangju {
  font-family: SANGJU Gotgam;
}

.mileverse .contents-text {
  margin-top: 8px;
  font-size: 20px;
  line-height: 29px;
}

.mileverse .greeting-title {
  font-size: 24px;
  color: #212121;
}

.mileverse .greeting-text {
  margin-top: 6px;
  color: #212121;
  font-size: 20px;
  line-height: 29px;
  font-family: NotoSansMedium;
}

.mileverse .greeting-text:lang(cn) {
  font-family: MFSongHe;
}

.mileverse .sign-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 56px;
}

.mileverse .sign-text {
  font-size: 20px;
  color: #212121;
  font-family: NotoSansMedium;
}

.mileverse .sign-text:lang(cn) {
  font-family: MFSongHe;
}

.mileverse .history-start-img {
  width: 100%;
  max-width: 1300px;
  margin-top: 214px;
}

.mileverse .history-init-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mileverse .history-init-wrap.mobile {
  display: none;
}

.mileverse .history-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mileverse .history-years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 394px;
  border-right: 1px dotted #9e9e9e;
  padding: 0 26px 82px 0;
}

.mileverse .history-years.fake {
  height: 160px;
  padding-bottom: 0;
}

.mileverse .history-years.title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mileverse .history-years.last {
  padding-bottom: 0;
}

.history-years-text,
.history-title-text {
  color: #212121;
  font-size: 28px;
  line-height: 32px;
  font-family: GmarketSansBold;
}

.mileverse .history-horizontal {
  margin-left: -10px;
  height: 20px;
}

.history-horizontal-short {
  margin-left: -8px;
}

.mileverse .history-horizontals {
  width: 117px;
  height: 12px;
  margin: 4px 0 0 -5px;
}

.mileverse .history-horizontal-long {
  width: 157px;
  height: 30px;
  margin-left: -14px;
}

.mileverse .history-expl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 82px;
}

.mileverse .history-expl.last {
  padding-bottom: 0;
}

.mileverse .history-expl-subtext {
  margin: 6px 0 0 62px;
  color: #212121;
  font-size: 16px;
  font-family: NotoSansMedium;
}

.mileverse .history-expl-subtext-en {
  margin: 6px 0 0 2px;
  color: #212121;
  font-size: 16px;
  font-family: NotoSansMedium;
}

.mileverse .history-expl-subtext-text-2020 {
  color: #212121;
  font-size: 20px;
  font-family: NotoSansMedium;
}

.mileverse .history-expl-subtext-text-margin-2020 {
  margin-top: 6px;
  color: #212121;
  font-size: 20px;
  font-family: NotoSansMedium;
}

.mileverse .history-expl-subtext-text-2020-2021-cn {
  color: #212121;
  font-size: 20px;
  font-family: MFSongHe;
}

.mileverse .history-expl-subtext-text-2020-2021-margin-cn {
  margin-top: 6px;
  color: #212121;
  font-size: 20px;
  font-family: MFSongHe;
}

.mileverse .history-subtext-text-2020 {
  margin: 1px 0 0 61px;
  color: #212121;
  font-size: 20px;
  font-family: NotoSansMedium;
}

.mileverse .history-subtext-text-2021 {
  margin: 1px 0 0 62px;
  color: #212121;
  font-size: 20px;
  font-family: NotoSansMedium;
}

.mileverse .history-subtext {
  margin: 4px 0 0 27px;
  color: #212121;
  font-size: 11px;
  font-family: NotoSansRegular;
}

.mileverse .history-subtext-cn {
  margin: 4px 0 0 27px;
  color: #212121;
  font-size: 11px;
  font-family: MFSongHe;
}

.mileverse .history-subtext-2023 {
  font-size: 16px;
  font-family: NotoSansMedium;
  color: #212121;
  margin-top: 4px;
  margin-left: 32px;
}

.mileverse .history-subtext-2023-cn {
  font-size: 11px;
  font-family: MFSongHe;
  color: #212121;
  margin-top: 4px;
  margin-left: 32px;
}

.mileverse .history-expl-subtext-2023 {
  font-size: 16px;
  font-family: NotoSansMedium;
  color: #212121;
}

.mileverse .history-expl-subtext-2023-cn {
  font-size: 16px;
  font-family: MFSongHe;
  color: #212121;
  margin-top: 6px;
  margin-left: 3px;
}

.mileverse .history-sub-text-margin {
  font-size: 16px;
  font-family: NotoSansMedium;
  color: #212121;
  margin-top: 6px;
  margin-left: 1px;
}

.mileverse .history-expl-subtext-cn {
  font-size: 16px;
  font-family: MFSongHe;
  color: #212121;
  margin-top: 6px;
  margin-left: 62px;
}

.mileverse .history-expl-text {
  font-size: 20px;
  font-family: NotoSansMedium;
  color: #212121;
}

.mileverse .history-expl-text-cn {
  font-size: 20px;
  font-family: MFSongHe;
  color: #212121;
}

.mileverse .history-expl-text-2-3-4Q {
  font-size: 20px;
  font-family: NotoSansMedium;
  color: #212121;
  padding-left: 61px;
}

.mileverse .history-expl-text-2-3-4Q-cn {
  font-size: 20px;
  font-family: MFSongHe;
  color: #212121;
  padding-left: 62px;
}

.mileverse .history-expl-text-lineheight {
  font-size: 20px;
  font-family: NotoSansMedium;
  color: #212121;
  line-height: 25px;
  margin-top: -4px;
}

.mileverse .history-expl-text-lineheight-cn {
  font-size: 20px;
  font-family: MFSongHe;
  color: #212121;
  line-height: 25px;
  margin-top: -4px;
}

.mileverse .history-expl-text-lineheight-margin {
  font-size: 20px;
  font-family: NotoSansMedium;
  color: #212121;
  margin-top: 1px;
}

.mileverse .histoy-Display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mileverse .histoy-Display-flex-cn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mileverse .history-border1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 16px;
}

.mileverse .history-border1-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mileverse .history-border1-cn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0px;
}

.mileverse .history-sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mileverse .history-Warp {
  text-align: right;
  margin-right: 20px;
  width: 42px;
  color: #9e9e9e;
  font-size: 20px;
  font-family: NotoSansMedium;
}

.mileverse .history-Warp-en {
  text-align: right;
  margin-right: 20px;
  width: 100px;
  color: #9e9e9e;
  font-size: 20px;
  font-family: NotoSansMedium;
}

.mileverse .history-Warp-cn {
  text-align: right;
  margin-right: 20px;
  width: 40px;
  color: #9e9e9e;
  font-size: 20px;
  font-family: MFSongHe;
}

.mileverse .history-1Q-2Q-3Q-4Q {
  margin-right: 20px;
  color: #9e9e9e;
  font-size: 20px;
  font-family: NotoSansMedium;
  text-align: right;
  width: 42px;
}

.mileverse .history-1Q-2Q-3Q-4Q-cn {
  margin-right: 20px;
  color: #9e9e9e;
  font-size: 20px;
  font-family: MFSongHe;
  text-align: right;
  width: 42px;
}

.mileverse .history-letter {
  font-size: 20px;
  font-family: NotoSansMedium;
  color: #212121;
  margin-left: 45px;
  margin-top: 16px;
}

.mileverse .history-2Q-3Q {
  font-size: 20px;
  font-family: NotoSansMedium;
  color: #212121;
}

.mileverse .history-2Q-3Q-cn {
  font-size: 20px;
  font-family: MFSongHe;
  color: #212121;
}

.mileverse .history-letter-2023-2024 {
  font-size: 20px;
  font-family: NotoSansMedium;
  color: #212121;
}

.mileverse .history-letter-2023-2024-cn {
  font-size: 20px;
  font-family: MFSongHe;
  color: #212121;
}

.mileverse .history-FlexDirection-Column-1Q-2Q-3Q-4Q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 6px;
  margin-top: 2px;
}

.mileverse .history-FlexDirection-Column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
  margin-bottom: 80px;
}

.mileverse .history-FlexDirection-Column-cn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  margin-bottom: 80px;
}

.mileverse .history-FlexDirection-Column-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 72px;
  margin-bottom: 80px;
}

.mileverse .history-FlexDirection-Column-2023-2024 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 44px;
  margin-bottom: 80px;
}

.mileverse .history-FlexDirection-Column-2023-2024-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  margin-bottom: 80px;
}

.mileverse .history-FlexDirection-Column-2023-2024-cn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 37px;
  margin-bottom: 80px;
}

.mileverse .roadmap-wrap {
  margin-top: 150px;
  height: 376px;
}

.mileverse .founder-name {
  font-size: 18px;
  line-height: 26px;
  font-family: NotoSansMedium;
  color: #212121;
}

.mileverse .founder-history {
  font-size: 17px;
  line-height: 25px;
  font-family: NotoSansMedium;
  margin-top: 14px;
}

.mileverse .thumb-img-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  margin-left: 110px;
}

.mileverse .vision-wrap {
  margin-top: 220px;
  margin-bottom: 180px;
}

.mileverse .vision-imge {
  margin-top: 68px;
  width: 100%;
  max-width: 1022px;
}

.mileverse .vision-text {
  font-size: 24px;
  color: #212121;
  line-height: 35px;
}

.mileverse .contents-article-size.history {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mileverse .history-expl-text-2-3-4Q-mobile {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  padding-left: 27px;
}

.mileverse .history-expl-text-2-3-4Q-mobile-cn {
  font-size: 13px;
  font-family: MFSongHe;
  color: #212121;
  padding-left: 27px;
}

.mileverse .history-expl-text-2-3-4Q-mobile-padding-clear {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
}

.mileverse .history-expl-text-2-3-4Q-mobile-padding-clear-cn {
  font-size: 13px;
  font-family: MFSongHe;
  color: #212121;
}

.mileverse .history-subtext-mobile-text-2020 {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  margin-top: 1px;
  margin-left: 34px;
}

.mileverse .history-subtext-mobile-text-2020-en {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  margin-top: 1px;
  margin-left: 67px;
}

.mileverse .history-subtext-mobile-text-2021 {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  margin-top: 1px;
  margin-left: 40px;
}

.mileverse .history-subtext-2023-mobile {
  font-size: 11px;
  font-family: NotoSansRegular;
  color: #212121;
  margin-top: 4px;
  margin-left: 32px;
}

.mileverse .history-subtext-2023-mobile-cn {
  font-size: 11px;
  font-family: MFSongHe;
  color: #212121;
  margin-top: 4px;
  margin-left: 32px;
}

.mileverse .history-FlexDirection-Column-mobile-1Q-2Q-3Q-4Q-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 32px;
  margin-top: 3px;
}

.mileverse .history-expl-text-lineheight-mobile {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
}

.mileverse .history-expl-text-lineheight-margin-mobile {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  margin-top: 3px;
}

.mileverse .history-expl-text-lineheight-mobile-2022-en {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  padding-left: 27px;
}

.mileverse .history-expl-text-lineheight-mobile-2022-margin-en {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  padding-left: 27px;
  margin-top: 3px;
}

.mileverse .history-expl-text-lineheight-mobile-2023-2024-en {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  padding-left: 32px;
}

.mileverse .history-expl-text-lineheight-margin-mobile-2023-2024-en {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  padding-left: 32px;
  margin-top: 3px;
}

.mileverse .history-expl-text-mobile {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
}

.mileverse .history-expl-text-mobile-cn {
  font-size: 13px;
  font-family: MFSongHe;
  color: #212121;
}

.mileverse .history-expl-text-mobile-lineheight {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  line-height: 17px;
  margin-top: -2px;
}

.mileverse .history-expl-text-mobile-lineheight-cn {
  font-size: 13px;
  font-family: MFSongHe;
  color: #212121;
  line-height: 17px;
  margin-top: -2px;
}

.mileverse .history-expl-text-mobile-lineheight-margin-cn {
  font-size: 13px;
  font-family: MFSongHe;
  color: #212121;
  line-height: 17px;
  margin-top: -2px;
}

.mileverse .history-1Q-2Q-3Q-4Q-mobile {
  margin-right: 10px;
  color: #9e9e9e;
  font-size: 13px;
  font-family: NotoSansRegular;
}

.mileverse .history-1Q-2Q-3Q-4Q-mobile-cn {
  margin-right: 10px;
  color: #9e9e9e;
  font-size: 13px;
  font-family: MFSongHe;
}

.mileverse .history-FlexDirection-Column-mobile-2023-2024-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 23px;
}

.mileverse .history-FlexDirection-Mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 8px;
  margin-right: 4px;
}

.mileverse .history-FlexDirection-Mobile-2021 {
  color: #9e9e9e;
  font-size: 13px;
  font-family: NotoSansRegular;
  width: 30px;
  text-align: right;
  margin-right: 10px;
}

.mileverse .history-FlexDirection-Mobile-2021-en {
  color: #9e9e9e;
  font-size: 13px;
  font-family: NotoSansRegular;
  width: 65px;
  text-align: right;
  margin-right: 10px;
}

.mileverse .history-FlexDirection-Mobile-2021-cn {
  color: #9e9e9e;
  font-size: 13px;
  font-family: "MFSongHe";
  width: 30px;
  text-align: right;
  margin-right: 10px;
}

.mileverse .history-FlexDirection-Row-Mobile-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 13px;
  font-family: NotoSansRegular;
  margin-left: 32px;
}

.mileverse .history-FlexDirection-Row-Mobile-text-cn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 13px;
  font-family: MFSongHe;
  margin-left: 32px;
}

.mileverse .history-FlexDirection-Row-Mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 8px;
}

.mileverse .history-letter-mobile {
  font-size: 13px;
  font-family: NotoSansRegular;
  color: #212121;
  margin-top: 4px;
  margin-left: 35px;
}

.mileverse .history-letter-mobile-month {
  color: #9e9e9e;
  font-size: 13px;
  font-family: NotoSansRegular;
  width: 30px;
  text-align: right;
  margin-right: 4px;
}

.mileverse .history-letter-mobile-month-en {
  color: #9e9e9e;
  font-size: 13px;
  font-family: NotoSansRegular;
  width: 64px;
  text-align: right;
  margin-right: 4px;
}

.mileverse .history-letter-mobile-month-cn {
  color: #9e9e9e;
  font-size: 13px;
  font-family: MFSongHe;
  width: 30px;
  text-align: right;
  margin-right: 4px;
}

.mileverse .contents-article-size.director {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.mileverse .contents-article-size.vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mileverse .director-box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.16);
  padding: 30px 103px;
  width: 100%;
  max-width: 587px;
}

.mileverse .director-box-wrap:not(:first-child) {
  margin-top: 78px;
}

@media (max-width: 767px) {
  .mileverse .contents-title {
    line-height: unset;
  }
  .mileverse .contents-text {
    margin-top: 8px;
    line-height: 20px;
  }
  .mileverse .greeting-title {
    font-size: 15px;
    line-height: 21px;
    color: #212121;
    margin-top: 16px;
  }
  .mileverse .greeting-text {
    font-size: 14px;
    line-height: 20px;
  }
  .mileverse .sign-wrap {
    margin-top: 30px;
  }
  .mileverse .sign-text {
    font-size: 14px;
  }
  .mileverse .director-box-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 18px;
    width: 37%;
  }
  .mileverse .history-start-img {
    margin-top: 60px;
  }
  .mileverse .history-init-wrap.web {
    display: none;
  }
  .mileverse .history-init-wrap.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  .mileverse .history-years {
    width: 46px;
    padding-bottom: 31px;
  }
  .mileverse .history-years.fake {
    height: 40px;
  }
  .mileverse .history-expl.fake {
    padding-bottom: 0;
  }
  .history-years-text {
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px;
  }
  .mileverse .history-expl {
    padding-bottom: 31px;
  }
  .mileverse .history-expl-text {
    font-size: 13px;
    font-family: NotoSansRegular;
  }
  .mileverse .contents-title.director {
    margin-top: 10px;
  }
  .mileverse .contents-article-size.director {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 1px solid #efefef;
  }
  .mileverse .founder-name {
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
  }
  .mileverse .founder-history {
    font-size: 9px;
    line-height: 13px;
    font-family: "NotoSansRegular";
  }
  .mileverse .thumb-img-wrap {
    margin-left: 0;
  }
  .mileverse .director-box-wrap:not(:first-child) {
    margin-top: 0;
  }
  .mileverse .vision-wrap {
    margin-top: 26px;
    margin-bottom: 52px;
  }
  .mileverse .vision-imge {
    margin-top: 16px;
  }
  .mileverse .vision-text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 19px;
  }
  .bg_mileverse {
    background-position-y: 100%;
    background-position-x: 43%;
  }
}
