.mileverse .web {
  display: block;
}

.mileverse .mobile {
  display: none;
}

.mileverse .contents-size {
  margin: 0 20px;
}

.mileverse > section:first-child {
  background-image: url("../../../assets/img/company_bg.png");
}

.mileverse main section:first-child .contents-article-size p:first-child {
  font-size: 24px;
}
.mileverse main section:first-child .contents-article-size p:last-child {
  margin-top: 6px;
  font-size: 20px;
  line-height: 29px;
}
.mileverse main section:first-child + p {
  display: block;
  margin-top: 56px;
  margin-bottom: 214px;
  text-align: right;
  font-size: 20px;
}

.mileverse main section ~ img {
  width: 100%;
  max-width: 1300px;
}

.mileverse main section:nth-of-type(2) .section-title {
  font-size: 28px;
  line-height: 32px;
}
.mileverse main section:nth-of-type(2) .section-title.mobile {
  display: none;
}

.mileverse main section:nth-of-type(2) article {
  display: flex;
  flex-direction: row;
}
.mileverse main section:nth-of-type(2) article:first-of-type .history-years, .mileverse main section:nth-of-type(2) article:first-of-type .history-expl {
  padding-top: 160px;
}
.mileverse main section:nth-of-type(2) article:last-of-type .history-years, .mileverse main section:nth-of-type(2) article:last-of-type .history-expl {
  padding-bottom: 160px;
}

.mileverse main section:nth-of-type(2) article .history-years {
  display: flex;
  justify-content: flex-end;
  width: 394px;
  border-right: 1px dotted #9e9e9e;
  padding: 0 26px 82px 0;
}
.mileverse main section:nth-of-type(2) article .history-years.title {
  justify-content: space-between;
}
.mileverse main section:nth-of-type(2) article .history-years p {
  font-size: 28px;
  line-height: 32px;
  margin-right: 28px;
}

.mileverse main section:nth-of-type(2) article .history-expl {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-bottom: 82px;
}
.mileverse main section:nth-of-type(2) article .history-expl img {
  height: 20px;
  margin-left: -10px;
  margin-right: 82px;
}
.mileverse main section:nth-of-type(2) article .history-expl img.short {
  width: 117px;
  height: 12px;
  margin-top: 4px;
  margin-right: 87px;
  margin-left: -5px;
}
.mileverse main section:nth-of-type(2) article .history-expl img.en {
  margin-right: 114px;
  margin-top: 5px;
}
.mileverse main section:nth-of-type(2) article .history-expl ul,
.mileverse main section:nth-of-type(2) article .history-expl li {
  margin-top: -4px;
  font-size: 20px;
  line-height: 44px;
  font-family: NotoSansMedium;
}
.mileverse main section:nth-of-type(2) article .history-expl ul::marker,
.mileverse main section:nth-of-type(2) article .history-expl li::marker {
  color: #9e9e9e;
}
.mileverse main section:nth-of-type(2) article .history-expl ul.sub,
.mileverse main section:nth-of-type(2) article .history-expl li.sub {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
}
.mileverse main section:nth-of-type(2) article .history-expl ul.one-line,
.mileverse main section:nth-of-type(2) article .history-expl li.one-line {
  line-height: unset;
}
.mileverse main section:nth-of-type(2) article .history-expl ul.two-line,
.mileverse main section:nth-of-type(2) article .history-expl li.two-line {
  line-height: 25px;
  margin-bottom: 15px;
  margin-top: 1px;
}
.mileverse main section:nth-of-type(2) article .history-expl li.first-q {
  list-style-type: "1Q   ";
}
.mileverse main section:nth-of-type(2) article .history-expl li.second-q {
  list-style-type: "2Q   ";
}
.mileverse main section:nth-of-type(2) article .history-expl li.third-q {
  list-style-type: "3Q   ";
}
.mileverse main section:nth-of-type(2) article .history-expl li.fourth-q {
  list-style-type: "4Q   ";
}

.mileverse main section:nth-of-type(3) article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.16);
  padding: 30px 0;
  max-width: 793px;
}
.mileverse main section:nth-of-type(3) article:last-child {
  margin-top: 78px;
}
.mileverse main section:nth-of-type(3) article p {
  font-size: 18px;
  line-height: 26px;
}
.mileverse main section:nth-of-type(3) article p:last-child {
  font-size: 17px;
  line-height: 25px;
  margin-top: 14px;
  font-family: "NotoSansMedium";
}

.mileverse main section:nth-of-type(4) {
  margin-top: 220px;
  margin-bottom: 180px;
}
.mileverse main section:nth-of-type(4) article img {
  margin-top: 68px;
  width: 100%;
  max-width: 1022px;
}
.mileverse main section:nth-of-type(4) article p {
  font-size: 24px;
  line-height: 35px;
}

@media (max-width: 767px) {
  .mileverse .web {
    display: none;
  }
  .mileverse .mobile {
    display: block;
  }
  .mileverse > section:first-child {
    background-position-y: 100%;
    background-position-x: 43%;
  }
  .mileverse .contents-size {
    margin: 0;
  }
  .mileverse main section:first-child .contents-article-size p:first-child {
    font-size: 15px;
    line-height: 21px;
    margin-top: 16px;
  }
  .mileverse main section:first-child .contents-article-size p:last-child {
    font-size: 14px;
    line-height: 20px;
  }
  .mileverse main section:first-child + p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .mileverse main section:nth-of-type(2) .section-title.mobile {
    display: block;
    margin-top: 30px;
  }
  .mileverse main section:nth-of-type(2) .section-title.web {
    display: none;
  }
  .mileverse main section:nth-of-type(2) article:first-of-type .history-years, .mileverse main section:nth-of-type(2) article:first-of-type .history-expl {
    padding-top: 40px;
  }
  .mileverse main section:nth-of-type(2) article:last-of-type .history-years, .mileverse main section:nth-of-type(2) article:last-of-type .history-expl {
    padding-bottom: 71px;
    margin-bottom: 10px;
  }
  .mileverse main section:nth-of-type(2) article:first-of-type .history-years.title {
    justify-content: flex-end;
  }
  .mileverse main section:nth-of-type(2) article .history-years {
    width: 46px;
    padding-bottom: 26px;
  }
  .mileverse main section:nth-of-type(2) article .history-years p {
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px;
    margin-right: 0;
  }
  .mileverse main section:nth-of-type(2) article .history-expl {
    padding-bottom: 26px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl img {
    width: 44px;
    margin-right: 42px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl img.short {
    width: 41px;
    height: 16px;
    margin-right: 45px;
    margin-left: -8px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl img.en {
    margin-right: 67px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl ul,
  .mileverse main section:nth-of-type(2) article .history-expl li {
    margin-top: 1px;
    font-size: 13px;
    line-height: 18px;
    font-family: NotoSansRegular;
  }
  .mileverse main section:nth-of-type(2) article .history-expl ul.sub,
  .mileverse main section:nth-of-type(2) article .history-expl li.sub {
    margin-top: -1px;
    margin-bottom: 0px;
    font-size: 11px;
    line-height: 15px;
  }
  .mileverse main section:nth-of-type(2) article .history-expl ul.two-line,
  .mileverse main section:nth-of-type(2) article .history-expl li.two-line {
    line-height: 14px;
    margin-top: 2px;
    margin-bottom: 8px;
  }
  .mileverse main section:nth-of-type(3) div:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 26px;
    border-bottom: 1px solid #efefef;
  }
  .mileverse main section:nth-of-type(3) article {
    flex-direction: column-reverse;
    padding: 18px;
    flex: 1;
    margin-right: 9px;
  }
  .mileverse main section:nth-of-type(3) article:last-child {
    margin-left: 9px;
    margin-top: 0;
  }
  .mileverse main section:nth-of-type(3) article img {
    margin-left: 0;
    width: 100%;
  }
  .mileverse main section:nth-of-type(3) article p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
  }
  .mileverse main section:nth-of-type(3) article p:last-child {
    font-size: 9px;
    line-height: 13px;
    font-family: "NotoSansRegular";
  }
  .mileverse main section:nth-of-type(4) {
    margin-top: 18px;
    margin-bottom: 52px;
  }
  .mileverse main section:nth-of-type(4) article img {
    margin-top: 16px;
  }
  .mileverse main section:nth-of-type(4) article p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 19px;
  }
}