/* import font( Noto-Sans ) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body, h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Noto Sans KR', sans-serif !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.extra-bold {
    font-weight: 900;
}

.web {
    display: block;
}

.mobile {
    display: none;
}

.event-box {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #EBE5F2;
}
.triangleCorner {
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
    background-color: transparent;
    border-style: solid;
    border-right-color: transparent;
    border-top-color: #3C007C;
}
.web .box-wrap {
    width: 170px;height: 204px;position: relative;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cornerText {
    position:absolute;
    top:4px;
    left:8px;
    font-size: 14px;
    color:#FFFFFF;
}
.box-text {
    font-size: 17px;
    line-height: 23px;
    text-align: center;
}
.web .box-button {
    height: 50px;flex:1;background-color: #3C007C;display: flex;justify-content: center;align-items: center;flex-direction: row;
    cursor: pointer;
}

.event02-number{
    background-color: #B199CA;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event02-number span {
    color: #FFFFFF;
    font-size: 16px;
}
.event02-text {
    margin-left: 10px;font-size: 20px;line-height: 32px;margin-top:-6px;
}

.mobile .app-button {
    flex: 1;height: 34px;display: flex;align-items: center;justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 1px #F4F4F4;
}
.mobile .box-wrap {
    width: 130px;height: 146px;position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;
}
@media (min-width: 320px) and (max-width: 480px) {
    .web {
        display: none;
    }
    .mobile {
        display: block;
    }
    .event02-text {
        margin-left: 10px;font-size: 14px;line-height: 22px;margin-top:-6px;
        flex:1
    }
    .cornerText {
        top:3px;
        left:5px;
        font-size: 12px;
        color:#FFFFFF;
    }
    .box-text {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }
}