.apptech {
  word-break: keep-all;
}

.apptech main {
  padding: 0;
  background-image: url("../../../assets/img/appGuide/appGuide-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.apptech section {
  width: calc(100% - 40px);
  max-width: 1300px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apptech article {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0 40px 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 140px;
  }
  .pt-0 {
    padding-top: 0;
  }
}

.apptech article .contents-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 27px;
  &.web {
    font-size: 28px;
    line-height: 32px;
  }
}

.apptech article .contents-expl-size {
  flex: 1;
}

.apptech article .contents-expl-size .contents-text {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 80px;
  &.web:first-child {
    font-size: 20px;
    line-height: 29px;
  }
  &.mobile {
    display: none;
  }
  &:lang(en) {
    line-height: 30px;
    word-spacing: -0.2px;
    margin-bottom: 100px;
  }
  &:lang(cn) {
    word-break: break-word;
  }
}

.apptech article .contents-expl-size .app-img {
  width: 100%;
  &.mobile {
    display: none;
  }
}
.apptech article .contents-expl-size .btn-wrap {
  margin-top: 38px;
  margin-right: 34px;
  text-align: right;
  button {
    flex: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    img {
      width: 100%;
    }
  }
}

.apptech .divider {
  width: 100%;
  height: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #efefef;
  &.mobile {
    display: none;
  }
}

// 모바일
@media (max-width: 767px) {
  .apptech main {
    background: transparent;
  }

  .apptech .bg_tech {
    background-position-y: 26%;
    background-position-x: 63%;
  }

  .apptech article {
    border: none;
    padding: 0;
    &:first-child {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
    }

    &:last-child {
      padding-bottom: 20px;
      margin-bottom: 40px;
    }
  }

  .apptech article .contents-title {
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 20px;
    &.mobile {
      margin-bottom: 23px;
      font-size: 21px;
      line-height: 24px;
    }
    &:lang(en),
    &:lang(cn) {
      margin-top: 4px;
    }
  }

  .apptech article .contents-expl-size .contents-text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    &.web {
      display: none;
    }
    &.mobile {
      display: block;
    }
    &:lang(en) {
      font-size: 13px;
      line-height: 18px;
      word-spacing: 1px;
      margin-bottom: 10px;
    }
    &.app-guide {
      word-spacing: -1px;
    }
  }

  .apptech article .contents-expl-size .app-img {
    width: 100%;
    &.web {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }

  .apptech article .contents-expl-size .btn-wrap {
    display: flex;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0;
  }

  .apptech .divider {
    &.mobile {
      display: block;
    }
  }
}
