@import "../base/font.scss";

.apptech {
  word-break: keep-all;
}

.apptech .contents-size {
  width: 100%;
  max-width: 1300px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apptech .contents-total-wrap {
  padding: 0;
  background-image: url("../../../assets/img/appGuide/appGuide-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.apptech .contents-init-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0 40px 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 140px;
  }
}

.apptech .divider {
  width: 100%;
  height: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #efefef;
}

.apptech .contents-text {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 10px;
  &.web:first-child {
    font-size: 20px;
    line-height: 29px;
  }
  &.mobile {
    display: none;
  }
  &:lang(en) {
    line-height: 30px;
    word-spacing: -0.2px;
    margin-bottom: 0;
  }
  &:lang(cn) {
    word-break: break-word;
  }
}

.apptech .app-img {
  width: 100%;
  &.mobile {
    display: none;
  }
}
.apptech .btn-wrap {
  margin-top: 38px;
  text-align: right;
  .img-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.apptech .contents-article-wrap {
  width: 900px;
  margin-left: 110px;
  &.web {
    width: 1000px;
    margin-left: 10px;
  }
}

.apptech .contents-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 27px;
  &.web {
    font-size: 28px;
    line-height: 32px;
  }
  &:lang(cn) {
    font-family: GmarketSansBold;
  }
}

// 모바일
@media (max-width: 767px) {
  .apptech .contents-total-wrap {
    background: transparent;
  }

  .apptech .divider {
    width: 100%;
    height: 26px;
    margin-bottom: 26px;
    border-bottom: 1px solid #efefef;
  }
  .apptech .bg_tech {
    background-position-y: 26%;
    background-position-x: 63%;
  }

  .apptech .contents-title {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
    &.mobile {
      margin-bottom: 16px;
      font-size: 21px;
      line-height: 24px;
    }
    &:lang(en),
    &:lang(cn) {
      margin-top: 4px;
    }
  }

  .apptech .contents-text {
    font-size: 14px;
    line-height: 22px;
    &.web {
      display: none;
    }
    &.mobile {
      display: block;
    }
    &:lang(en) {
      font-size: 13px;
      line-height: 18px;
      word-spacing: 1px;
      margin-bottom: 10px;
    }
  }

  .apptech .app-img {
    width: 100%;
    &.web {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }

  .apptech .btn-wrap {
    display: flex;
    margin-top: 0;
    padding-right: 0;
  }

  .apptech .contents-init-wrap {
    border: none;
    padding: 0;
    &:first-child {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
    }

    &:last-child {
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
  }

  .apptech .contents-article-wrap {
    width: 100%;
    margin-left: 0;

    &.web {
      width: 100%;
      margin-left: 0;
    }
  }
}
