@import "../base/font.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 803px;
  word-break: keep-all;
}

.mobile {
  display: none;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 20px 150px 20px;
  background-image: url(../../../events/img/family/w-bg-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #604244;

  .banner-wrap .banner {
    width: 100%;
  }

  // 마일벌스란
  .mileverse-wrap {
    max-width: 900px;
    margin-top: 120px;
    padding: 16px;
    background-color: #cff2a5;
    border-radius: 10px;
    .inner-wrap {
      padding: 80px;
      border: 1px dotted #ffffff;
      border-radius: 10px;
    }

    .title-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      .title {
        margin-left: 10px;
        font-size: 28px;
        color: #604244;
        font-family: SANGJU Gotgam;
      }
    }

    .mileverse-expl {
      font-size: 24px;
      line-height: 40px;
      word-spacing: -4px;
      font-family: NanumSquareB;
    }
  }

  // 이벤트 박스
  .event-section-wrap {
    position: relative;
    width: 100%;
    max-width: 900px;
    padding: 82px 90px 90px 90px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #604244;
    &.init {
      margin: 112px 0;
    }

    .event-tag {
      position: absolute;
      top: -12px;
      left: -12px;
    }

    // 이벤트 제목
    .section-title {
      margin-bottom: 53px;
      font-size: 28px;
      font-family: SANGJU Gotgam;
    }

    .event-title {
      margin-bottom: 14px;
      font-size: 24px;
      font-family: NanumSquareEB;
      margin-bottom: 20px;
    }

    .event-expl {
      margin-bottom: 44px;
      font-size: 24px;
      line-height: 36px;
      word-spacing: -4px;
      font-family: NanumSquareB;
      &:last-child {
        margin-bottom: 0;
      }
    }

    // 상품이미지
    .item-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      row-gap: 50px;
      column-gap: 33px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 100%;
          margin-bottom: 16px;
        }
        .booknlife-img-wrap {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 0;
          margin-bottom: 16px;
          padding-bottom: calc(140.84 / 218.008 * 100%);
          background-color: tomato;
          img {
            margin-bottom: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        p {
          font-size: 22px;
          line-height: 30px;
          word-spacing: -4px;
          font-family: NanumSquareB;
          &:last-child {
            margin-top: 5px;
          }
        }
      }
    }

    .mobile-install {
      display: none;
    }
  }
}

.install {
  display: flex;
  justify-content: center;
  background-color: #438761;
  color: #ffffff;
  padding: 80px 0 56px 0;

  .install-contents {
    width: 800px;
    padding: 0 40px;
    .install-title {
      margin-bottom: 58px;
      font-size: 24px;
      font-family: NanumSquareEB;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .item-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
          margin-top: 16px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          display: block;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #6ca87d;
  color: #2d2d2d;
  .footer-contents {
    width: 800px;
    padding: 150px 40px 200px 40px;

    .caution {
      font-size: 24px;
      line-height: 40px;
      color: #f4d151;
      font-family: NanumSquareEB;
    }
    .footer-title {
      margin: 55px 0 21px 0;
      font-size: 20px;
      line-height: 34px;
      font-family: NanumSquareB;
    }
    .footer-expl {
      margin-left: 13px;
      font-size: 18px;
      line-height: 32px;
      list-style-type: "- ";
      font-family: NanumSquareR;
    }
  }
}

// mobile
@media (max-width: 767px) {
  body {
    min-width: unset;
  }

  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
  .contents {
    padding: 40px 20px 30px 20px;
    background-image: url(../../../events/img/family/m-bg-01.png);
    color: #2d2d2d;

    .banner-wrap {
      width: 68.75%;
      .banner {
        width: 100%;
      }
    }

    // 마일벌스란
    .mileverse-wrap {
      width: 100%;
      margin-top: 40px;
      padding: 10px;
      color: #604244;
      .inner-wrap {
        padding: 32px 30px 36px 30px;
        .title-wrap {
          margin-bottom: 19px;
          .title {
            font-size: 18px;
          }
        }
        .mileverse-expl {
          font-size: 15px;
          line-height: 24px;
          word-spacing: -3px;
        }
      }
    }

    // 이벤트 박스
    .event-section-wrap {
      width: 100%;
      padding: 37px 20px 20px 20px;
      color: #2d2d2d;
      &.init {
        margin: 48px 0;
      }
      .event-tag {
        top: -8px;
        left: -8px;
      }

      // 이벤트 제목
      .section-title {
        margin-top: 5px;
        margin-bottom: 27px;
        font-size: 18px;
        color: #604244;
      }
      .event-title {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .event-expl {
        margin-bottom: 27px;
        font-size: 15px;
        line-height: 25px;
        word-spacing: -2px;
        &:last-child {
          margin-bottom: 15px;
        }
      }

      .item-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        .item {
          img {
            margin-bottom: 8px;
          }
          .booknlife-img-wrap {
            margin-bottom: 8px;
            img {
              margin-bottom: 0;
            }
          }
          p {
            font-size: 15px;
            line-height: 20px;
            color: #604244;
          }
        }
      }

      .mobile-install {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-top: 35px;
        background-color: #509870;
        border-radius: 2px;
        color: #ffffff;
        font-family: NanumSquareB;
        font-size: 16px;
        line-height: 20px;
        border: none;
        cursor: pointer;
      }
    }
  }

  .install {
    display: none;
  }

  .footer {
    padding: 36px 20px 80px 20px;
    background-color: #509870;
    color: #ffffff;
    .footer-contents {
      width: 100%;
      padding: 0;
      .caution {
        font-size: 15px;
        line-height: 25px;
        word-spacing: -1px;
        font-family: NanumSquareB;
        &.web {
          display: none;
        }
        &.mobile {
          display: block;
        }
      }
      .footer-title {
        margin: 30px 0 15px 0;
        font-size: 16px;
        line-height: 26px;
        font-family: NanumSquareB;
      }
      .footer-expl {
        font-size: 15px;
        line-height: 26px;
        word-spacing: 2px;
        font-family: NanumSquareR;
      }
    }
  }
}

@media (max-width: 500px) {
  .banner.web {
    display: none;
  }
  .banner.mobile {
    display: block;
  }
}
