@import "../base/font.scss";

// 이미지경로설정
$image-path: "../../../events/img";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  word-break: keep-all;
  background-color: #e0d112;
  overflow-x: hidden;
}

.mobile {
  display: none;
}

.banner-wrap {
  width: 100%;
  background: url($image-path + "/w-banner.png") no-repeat;
  background-size: cover;
  background-color: #e0d112;
  padding-top: 5.2%;
  .title {
    width: 42.44%;
    max-width: 900px;
    display: block;
    margin: 0 auto;
  }
}

.contents {
  position: absolute;
  width: 100%;

  // 이벤트설명
  .event-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d2d2d;
    display: flex;
    justify-content: center;
    padding: 0 20px;

    .event-article {
      max-width: 900px;
      width: 100%;
      border-radius: 10px;
      padding: 75px;

      background-color: #fcf4c3;
      color: #1c5e01;
      margin-bottom: 75px;

      &:first-child {
        background-color: rgba(209, 230, 89, 0.8);
      }

      &:nth-child(2) {
        background-color: #efe785;
      }

      .tag {
        width: 31.38%;
        min-width: 113.2px;
        margin-bottom: 35px;
        &.init {
          margin-top: 2px;
        }
      }

      .event-expl {
        font-size: 24px;
        line-height: 40px;
        word-spacing: -4px;
        opacity: 1;
      }

      .content-image {
        display: block;
        margin: 0 auto;
        width: 74.5%;
      }
    }
  }

  // 웹버전 앱 설치 안내
  .web-install {
    display: flex;
    justify-content: center;
    background-color: #c6ae02;
    color: #ffffff;
    padding: 75px 0 55px 0;

    .install-contents {
      max-width: 900px;
      width: 100%;
      border-radius: 10px;
      padding: 75px;
      background-color: #f4eaae;
      margin: 0 20px 55px 20px;
      .tag {
        width: 31.38%;
        min-width: 113.2px;
        margin-bottom: 35px;
      }
      .row {
        display: flex;
        align-items: center;
        width: 100%;
        .content-image {
          width: 51%;
          margin-left: 50px;
        }
        .item-wrap {
          display: flex;
          flex-direction: column;
          align-items: center;

          &.whole {
            margin-left: 57px;
          }

          &.google {
            margin-bottom: 50px;
          }

          button {
            margin-top: 16px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: block;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6ae02;
    color: #1c5e01;
    .footer-article {
      width: 100%;
      max-width: 900px;
      padding: 75px;
      margin: 0 20px 200px 20px;
      border-radius: 10px;
      background-color: #c9dd57;
      .tag {
        width: 31.38%;
        min-width: 113.2px;
        margin-bottom: 35px;
      }
      .footer-title {
        font-size: 18px;
        line-height: 32px;
      }
      .footer-expl {
        margin-left: 13px;
        font-size: 18px;
        line-height: 32px;
        list-style-type: "- ";
      }
    }
  }
}

// mobile
@media (max-width: 767px) {
  .banner-wrap {
    background: url($image-path + "/m-banner.png") no-repeat;
    background-size: cover;
    .title {
      width: 74.23%;
    }
  }
  .contents {
    .web {
      display: none;
    }
    .mobile {
      display: block;
    }
    // 이벤트 박스
    .event-list {
      .event-article {
        width: 100%;
        padding: 20px;
        margin-bottom: 30px;

        &:nth-child(3) {
          background-color: #ffffff;
        }
        .tag {
          width: 40.4%;
          max-width: 113.2px;
          margin-bottom: 15px;
        }
        .event-expl {
          margin-bottom: 30px;
          font-size: 15px;
          line-height: 24px;
          word-spacing: -0.3px;
          &.list {
            font-size: 14px;
            line-height: 24px;
          }
          &:last-child {
            margin-bottom: 15px;
          }
        }
        .content-image {
          width: 87.8%;
          margin-bottom: 20px;
        }
      }
    }

    // 모바일 앱 설치버튼
    .mobile-install {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 44px;
      background-color: #264c02;
      border-radius: 2px;
      color: #ffffff;
      font-size: 15px;
      border: none;
      cursor: pointer;
    }

    .footer {
      padding: 20px 20px 60px 20px;
      background-color: #e0d112;
      color: #1c5e01;

      .footer-article {
        width: 100%;
        padding: 20px;
        margin: 0;
        background-color: #e8e8e8;
        .tag {
          width: 40.4%;
          margin-bottom: 15px;
          max-width: 113.2px;
        }
        .footer-title {
          margin-bottom: 16px;
          font-size: 14px;
          line-height: 24px;
          // letter-spacing: -1px;
        }
        .footer-expl {
          font-size: 14px;
          line-height: 24px;
          margin-left: 11px;
        }
      }
    }
  }
}
