// pr
.media .refer-total-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  img {
    width: 100%;
    max-width: 306px;
  }
}

.media .news-total-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 73px;
  gap: 18px 16px;
}

.media .refer-header {
  margin-top: 34px;
  color: #212121;
  font-size: 20px;
  font-family: NotoSansBold;
  &:lang(cn) {
    font-family: MFSongHe;
  }
}

.media .refer-expl {
  width: 300px;
  margin-top: 10px;
  color: #212121;
  font-size: 18px;
  line-height: 26px;
  font-family: NotoSansMedium;
  &:lang(cn) {
    font-family: MFSongHe;
  }
}

.media .contents-init-wrap {
  &:not(:first-child) {
    padding-top: 100px;
  }
  &:not(:last-child) {
    padding-bottom: 120px;
    border-bottom: 1px solid #efefef;
  }
  &:last-child {
    margin-bottom: 120px;
  }
}

.media .news-wrap {
  width: 264px;
  height: 218px;
  padding: 40px 30px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}

.media .news-header {
  height: 64px;
  font-size: 20px;
  line-height: 32px;
  font-family: NotoSansBold;
}

.media .news-date {
  margin-top: 20px;
  color: #616161;
  font-size: 16px;
  font-family: NotoSansRegular;
}

.media .news-dash {
  width: 56px;
  height: 2px;
  margin-top: 16px;
  background-color: rgba(60, 0, 124, 0.4);
}

.media .news-contents {
  margin-top: 26px;
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 26px;
  font-family: NotoSansRegular;
}

// partner
.partner .contents-init-wrap {
  &:not(:first-child) {
    margin-top: 130px;
  }
  &:last-child {
    margin-bottom: 162px;
  }
}

.partner .partener-total-wrap {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
}

.partner .parnter-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 166px;
  border: 1px solid #efefef;
}

.partner .logo {
  width: 76%;
}
.partner .logo-ddo {
  width: 50%;
}

.parnter .logo-small {
  width: 44%;
}

// 모바일
@media (max-width: 767px) {
  .bg_media {
    background-position-x: 68%;
  }
  .media .refer-total-wrap {
    // margin-left: 0;
    // margin-top: 16px;
    margin: 16px 0 0 0;
    gap: 0;
    img {
      max-width: unset;
    }
  }
  .media .refer-card:not(:first-child) {
    margin-top: 50px;
  }
  .media .refer-header {
    margin-top: 16px;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
  }
  .media .refer-expl {
    width: auto;
    margin-top: 6px;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
  }
  .media .news-total-wrap {
    // margin-left: 0;
    // margin-top: 16px;
    margin: 16px 0 0 0;
    gap: 0px;
  }
  .media .news-wrap {
    width: 100%;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .media .news-header {
    font-size: 18px;
    line-height: 26px;
  }
  .media .news-date {
    font-size: 14px;
  }
  .media .news-contents {
    font-size: 14px;
    line-height: 22px;
  }
  .media .contents-init-wrap {
    &:not(:last-child) {
      padding-bottom: 28px;
    }
    &:not(:first-child) {
      padding-top: 26px;
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }

  // partner
  .partner .parnter-wrap {
    width: 48%;
    height: 110px;
  }
  .partner .contents-init-wrap {
    &:not(:first-child) {
      margin-top: 50px;
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }

  .partner .partener-total-wrap {
    margin-top: 16px;
  }
  .partner .contents-title {
    font-size: 18px;
    font-family: GmarketSansMedium;
  }
}
