.mileverse .web {
  display: block;
}
.mileverse .mobile {
  display: none;
}

.mileverse .contents-size {
  margin: 0 20px;
}
.mileverse > section:first-child {
  background-image: url("../../../assets/img/company_bg.png");
}

// 인사말
.mileverse main section:first-child {
  .contents-article-size {
    p:first-child {
      font-size: 24px;
    }
    p:last-child {
      margin-top: 6px;
      font-size: 20px;
      line-height: 29px;
    }
  }
  & + p {
    display: block;
    margin-top: 56px;
    margin-bottom: 214px;
    text-align: right;
    font-size: 20px;
  }
}

// 연혁
.mileverse main section ~ img {
  width: 100%;
  max-width: 1300px;
}

// 로드맵 제목
.mileverse main section:nth-of-type(2) .section-title {
  font-size: 28px;
  line-height: 32px;
  &.mobile {
    display: none;
  }
}

// 연혁상하간격
.mileverse main section:nth-of-type(2) article {
  display: flex;
  flex-direction: row;
  &:first-of-type .history-years,
  &:first-of-type .history-expl {
    padding-top: 160px;
  }
  &:last-of-type .history-years,
  &:last-of-type .history-expl {
    padding-bottom: 160px;
  }
}

// 연혁좌측(연도)
.mileverse main section:nth-of-type(2) article .history-years {
  display: flex;
  justify-content: flex-end;
  width: 394px;
  border-right: 1px dotted #9e9e9e;
  padding: 0 26px 82px 0;
  &.title {
    justify-content: space-between;
  }
  p {
    font-size: 28px;
    line-height: 32px;
    margin-right: 28px;
  }
}

// 연혁우측(월도)
.mileverse main section:nth-of-type(2) article .history-expl {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-bottom: 82px;

  // 연혁 가로선
  img {
    &.short {
      width: 117px;
      height: 12px;
      margin-top: 4px;
      margin-right: 87px;
      margin-left: -5px;
    }
    &.en {
      margin-right: 114px;
      margin-top: 5px;
    }
    height: 20px;
    margin-left: -10px;
    margin-right: 82px;
  }

  ul,
  li {
    margin-top: -4px;
    font-size: 20px;
    line-height: 44px;
    font-family: NotoSansMedium;
    &::marker {
      color: #9e9e9e;
    }
    &.sub {
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 16px;
    }
    &.one-line {
      line-height: unset;
    }
    &.two-line {
      line-height: 25px;
      margin-bottom: 15px;
      margin-top: 1px;
    }
  }
  li {
    &.first-q {
      list-style-type: "1Q   ";
    }
    &.second-q {
      list-style-type: "2Q   ";
    }
    &.third-q {
      list-style-type: "3Q   ";
    }
    &.fourth-q {
      list-style-type: "4Q   ";
    }
  }
}

// 설립자
.mileverse main section:nth-of-type(3) article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.16);
  padding: 30px 0;
  max-width: 793px;

  &:last-child {
    margin-top: 78px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    &:last-child {
      font-size: 17px;
      line-height: 25px;
      margin-top: 14px;
      font-family: "NotoSansMedium";
    }
  }
}

// 비전
.mileverse main section:nth-of-type(4) {
  margin-top: 220px;
  margin-bottom: 180px;
  article {
    img {
      margin-top: 68px;
      width: 100%;
      max-width: 1022px;
    }
    p {
      font-size: 24px;
      line-height: 35px;
    }
  }
}

// 모바일
@media (max-width: 767px) {
  .mileverse .web {
    display: none;
  }
  .mileverse .mobile {
    display: block;
  }

  .mileverse > section:first-child {
    background-position-y: 100%;
    background-position-x: 43%;
  }
  .mileverse .contents-size {
    margin: 0;
  }
  // 인사말
  .mileverse main section:first-child {
    .contents-article-size {
      p:first-child {
        font-size: 15px;
        line-height: 21px;
        margin-top: 16px;
      }
      p:last-child {
        font-size: 14px;
        line-height: 20px;
      }
    }
    & + p {
      font-size: 14px;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }

  // 로드맵 제목
  .mileverse main section:nth-of-type(2) .section-title {
    &.mobile {
      display: block;
      margin-top: 30px;
    }
    &.web {
      display: none;
    }
  }

  // 연혁 상하여백
  .mileverse main section:nth-of-type(2) article {
    &:first-of-type .history-years,
    &:first-of-type .history-expl {
      padding-top: 40px;
    }
    &:last-of-type .history-years,
    &:last-of-type .history-expl {
      // line-height 빼야함
      padding-bottom: 71px;
      margin-bottom: 10px;
    }
    &:first-of-type .history-years.title {
      justify-content: flex-end; // 2019년도 정렬
    }
  }

  // 연혁 좌측 (년도)
  .mileverse main section:nth-of-type(2) article .history-years {
    width: 46px;
    padding-bottom: 26px;
    p {
      font-size: 11px;
      line-height: 13px;
      margin-top: 5px;
      margin-right: 0;
    }
  }
  // 연혁 우측 (월도 및 내용)
  .mileverse main section:nth-of-type(2) article .history-expl {
    padding-bottom: 26px;

    // 연혁 가로선
    img {
      &.short {
        width: 41px;
        height: 16px;
        margin-right: 45px;
        margin-left: -8px;
      }
      &.en {
        margin-right: 67px;
      }
      width: 44px;
      margin-right: 42px;
    }

    ul,
    li {
      margin-top: 1px;
      font-size: 13px;
      line-height: 18px;
      font-family: NotoSansRegular;
      &.sub {
        margin-top: -1px;
        margin-bottom: 0px;
        font-size: 11px;
        line-height: 15px;
      }
      &.two-line {
        line-height: 14px;
        margin-top: 2px;
        margin-bottom: 8px;
      }
    }
  }

  // 설립자
  .mileverse main section:nth-of-type(3) div:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 26px;
    border-bottom: 1px solid #efefef;
  }

  .mileverse main section:nth-of-type(3) article {
    flex-direction: column-reverse;
    padding: 18px;
    flex: 1;
    margin-right: 9px;
    &:last-child {
      margin-left: 9px;
      margin-top: 0;
    }
    img {
      margin-left: 0;
      width: 100%;
    }
    p {
      font-size: 12px;
      line-height: 14px;
      margin-top: 5px;

      &:last-child {
        font-size: 9px;
        line-height: 13px;
        font-family: "NotoSansRegular";
      }
    }
  }

  // 비전
  .mileverse main section:nth-of-type(4) {
    margin-top: 18px;
    margin-bottom: 52px;
    article {
      img {
        margin-top: 16px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 19px;
      }
    }
  }
}
