.privacy .contents-total-wrap {
  flex-direction: column;
  align-items: center;
}

.privacy .contents-init-wrap {
  flex-direction: column;
}

.privacy .privacy-header {
  color: #212121;
  font-size: 28px;
  line-height: 37px;
  font-family: GmarketSansBold;
}

.privacy .privacy-sub-header {
  font-size: 24px;
  color: #212121;
  line-height: 35px;
  font-family: NotoSansBold;
}

.privacy .privacy-expl {
  font-size: 20px;
  color: #212121;
  line-height: 29px;
  font-family: NotoSansMedium;
}

.privacy .privacy-area-wrap {
  background-color: #f9f9f9;
  padding: 50px;
  margin-top: 40px;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 90px;
}

.privacy .privacy-area-wrap .title {
  font-size: 20px;
  font-family: NotoSansBold;
  color: #212121;
  line-height: 29px;
}

.privacy .privacy-area-wrap .title:not(:first-child) {
  margin-top: 30px;
}

.privacy .privacy-area-wrap .contents {
  font-size: 16px;
  font-family: NotoSansRegular;
  color: #212121;
  line-height: 30px;
}

.privacy .commonFrame {
  width: 100%;
  max-width: 1100px;
}

// 모바일
@media (max-width: 767px) {
  .privacy .banner-text-wrap {
    margin-bottom: 100px;
  }
  .privacy .privacy-header {
    font-size: 21px;
  }
  .privacy .privacy-sub-header {
    font-size: 16px;
  }
  .privacy .privacy-expl {
    font-size: 14px;
  }
  .privacy .privacy-area-wrap {
    padding: 20px;
    margin-bottom: 50px;
  }
  .privacy .privacy-area-wrap .title,
  .privacy .privacy-area-wrap .contents {
    font-size: 15px;
  }
}
