.tech .contents-init-wrap {
  &.web {
    background-color: #f9f9f9;
  }
  &.mobile {
    display: none;
  }
}

.tech .contents-article-size {
  width: 1100px;
  margin-left: 0;
}

.tech .article-wrap {
  margin-top: 70px;

  .eco-wrap {
    display: flex;
    justify-content: space-between;
    .eco-item {
      display: flex;
      flex-direction: column;
      .token-wrap {
        display: flex;
        align-items: flex-start;
        .token-text-wrap {
          margin-left: 24px;
          font-size: 15px;
        }
        .token {
          width: 100%;
          max-width: 100px;
        }
        .token-header {
          color: #212121;
          font-size: 18px;
          font-family: NotoSansBold;
          line-height: 30px;
          &:lang(cn) {
            font-family: MFSongHe;
          }
        }
        .token-expl {
          color: #212121;
          font-size: 18px;
          font-family: NotoSansRegular;
          line-height: 30px;
          &:lang(cn) {
            font-family: MFSongHe;
          }
          &.cn {
            font-size: 16px;
          }
          &.en {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.tech .token-table-wrap {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.tech .contents-text {
  font-size: 20px;
  line-height: 29px;
}

.tech .corp-card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  gap: 8px;
}

.tech .franch-card-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 8px;
}

.tech .franch-card {
  width: 100%;
  max-width: 834px;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  color: #212121;
  font-size: 20px;
  font-family: NotoSansRegular;
  &:lang(cn) {
    font-family: MFSongHe;
  }
}

.tech .corp-card {
  width: 414px;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  color: #212121;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  font-family: NotoSansRegular;
  &:lang(cn) {
    font-family: MFSongHe;
  }
}

// 모바일
@media (max-width: 767px) {
  .tech .contents-init-wrap {
    &.web {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }

  .tech .contents-text {
    font-size: 14px;
    line-height: 21px;
  }

  .tech .contents-article-size {
    width: 100%;
    margin-left: 0;
  }

  .tech .article-wrap {
    margin-top: 26px;
    .eco-wrap {
      flex-direction: column;
      gap: 36px 0;
      .eco-item .token-wrap {
        .token-header {
          font-size: 12px;
          line-height: 20px;
        }
        .token-expl {
          font-size: 11px;
          line-height: 20px;
          &.cn,
          &.en {
            font-size: 11px;
          }
        }
      }
    }
  }

  .tech .token-table-wrap {
    margin-top: 21px;
  }
  .tech .franch-card {
    width: auto;
    padding: 14px 18px;
    font-size: 15px;
    line-height: 24px;
    font-family: NotoSansMedium;
  }
  .tech .corp-card {
    width: 100%;
    padding: 14px 18px;
    font-size: 15px;
    line-height: 24px;
    font-family: NotoSansMedium;
  }
  .tech .franch-card-wrap,
  .tech .corp-card-wrap {
    margin-top: 16px;
  }
}
