
/* import font( Noto-Sans ) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body, h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Noto Sans KR', sans-serif !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.noto-medium {
    font-weight: 500;
}
.noto-bold {
    font-weight: 700;
}
.noto-extra-bold {
    font-weight: 900;
}

/* event landing page css */

.web_banner {
    display: block;
}
.app_banner {
    display: none;
}
.flex_wrap {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.contents_wrap {
    margin-top: 50px;
}
.event_card{
    width: 1200px;
    border:1px solid #DFDFDF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}
.event-title-wrap {
    display: flex;
    margin-top: 22px;
    align-items: center;
    font-size: 22px;
    color: #2D2D2D;
}
.title_highlight {
    color:#6700D5;
}
.event_desc {
    margin-top:24px;
    color:#2D2D2D;
    font-size: 20px;
    width: 472px;
    text-align: center;
    line-height: 32px;
}
.btn {
    margin-top: 56px;
    background-color: #3C007C;
    color:white;
    width: 100%;
    height:66px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-title {
    font-size: 22px;
}
.notice_card {
    background-color: #F6F6F6;
    border: 1px solid #DFDFDF;
    border-bottom: none;
    padding: 46px 0 100px 46px;
    margin-top: 60px;
    color:#2D2D2D;
}
.notice_title {
    font-size:18px;
}
.notice-desc-wrap{ 
    margin-top:40px;
}
.notice-desc {
    font-size: 18px;
    font-weight: 400;
    display: block;
    line-height: 34px;
}

.bd-bt-0 {
    border-bottom: none;
}
.pd-hr-20 {
    padding-left: 0;
    padding-right: 0;
}
.mg-tp-20{
    margin-top:0;
}
.mg-l-6 {
    margin-left: 12px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .web_banner {
        display: none;
    }
    .app_banner {
        display: block;
    }
    .contents_wrap {
        margin-top: 16px;
        width: 100%;
    }
    .event_card {
        width: 100%;
        box-sizing: border-box;
    }
    .event-title-wrap{
        font-size: 17px;
        flex-direction: column;
    }
    .event-title {
        text-align: center;
        width: 236px;
        font-weight: 500;
        line-height: 23px;
        word-break: keep-all;
    }
    .event_desc {
        font-size: 15px;
        line-height: 20px;
        width: 260px;
        font-weight: 400;
    }
    .mg-l-6 {
        margin-left: 0;
        margin-top: 14px;
    }
    .title_highlight {
        font-weight: 700;
    }
    .btn {
        margin-top: 24px;
        height:36px;
    }
    .btn-title {
        font-size: 16px;
    }
    .notice_card {
        margin-top:30px;
        padding: 30px 20px;
        border-left: none;
        border-right: none;
    }
    .notice_title {
        font-size: 14px;
    }
    .notice-desc {
        font-size: 14px;
        line-height: 26px;
        text-indent: -7px;
        padding-left: 7px;
    }
    .bd-bt-0 {
        border-bottom: 1px solid #DFDFDF;
    }
    .pd-hr-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .mg-tp-20{
        margin-top:20px;
    }
}